@use "../../abstracts" as *;
@use "../../components" as *;


.panelTitleContainer {
  margin-bottom: 32px;
}

.starBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 2px;
}

.starBtnIcon {
  height: 14px;
  width: 14px;
  stroke: $icon-default;
  fill: none;
}

.statusSelector {
  border: 1px solid #8C9196;
  border-radius: 2px;
  width: 150px;
  height: 32px;
}

.panelStatus {
  font-weight: 400;
}

.contentEnd {
  display: flex;
  justify-content: flex-end;
}

.addEditContainer .formContainer {
  width: 330px;
}

.panelForm {
  min-width: 100px;
}

.addEditContainer {

  form div:not(.form-check) {
    flex: none;
  }

  form {
     select, input, .form-select {
      min-width: 100px;
      max-width: 100%;
    }

    input[type=checkbox] {
      min-width: 0;
    }

    div.flexRow {
      display: flex;
      flex-direction: row;
    }

    .language {
      width: 330px;
    }
  }
  
  .fullWidthInput {
    width: 100%;
  }
  
  .OwnerShipBottomGap {
    margin-bottom: 72px;
  }
  
  .phoneInput {
    width: 212px;
  }
  
  .phoneExt {
    width: 106px;
  }

  .checkBoxRow {
    justify-content: space-between;
    margin: 20px 0 -4px 0;
  }

  .lastVerifiedDate{
    width: 330px;
  }

  .panelNotes {
    width: 100%;
    height: 100px;
    border: 1px solid #8C9196;
    border-radius: 2px;
    padding-left: 12px;
    font-family: proxima-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #202223;
    margin-bottom: 16px;
  }

}
