<div class="container-fluid">
    <div class="row mb-5">
        <div class="col">
            <h1 class="mt-5 displayXXL">DispXXL</h1>
            <p class="displayXL">DispXL</p>
            <p class="displayL">DisplayLarge</p>
            <p class="displayM">DisplayMedium</p>
            <p class="displayS">DisplaySmall</p>
            <p class="heading">Heading</p>
            <p class="subheading">Subheading</p>
            <p class="nav-text">Navigation</p>
            <p class="body-text">Body</p>
            <p class="body-text subdued">Body</p>
            <p class="body-text disabled">Body</p>
            <p class="caption">Caption</p>
        </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col">
        <div class="card">
            <div class="row">
                <div class="col">
                    <button class='btnPrimary m-1'>Button</button>
                    <button class='btnSecondary m-1'>Button</button>
                    <button class='btnCritical m-1'>Button</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="card">
            <h4>US Account Activity</h4>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Desciption</th>
                        <th>Memo</th>
                        <th>Statement ID</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2021-12-07</td>
                        <td>Payment</td>
                        <td></td>
                        <td>P229159</td>
                        <td></td>
                        <td>$4,345.49</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>2021-12-05</td>
                        <td>Invoice</td>
                        <td></td>
                        <td class="underline">P235979</td>
                        <td>$4,345.49</td>
                        <td></td>
                        <td>$4,345.49</td>
                    </tr>
                    <tr>
                        <td>2021-12-05</td>
                        <td>Payment</td>
                        <td></td>
                        <td>P227472</td>
                        <td></td>
                        <td>$1,394.45</td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td>2021-11-28</td>
                        <td>Invoice</td>
                        <td></td>
                        <td class="underline">P234526</td>
                        <td>$1,394.45</td>
                        <td></td>
                        <td>$1,394.45</td>
                    </tr>
                </tbody>
            </table>
            <div class="btnContainer">
                <button class="btnSecondary">Button</button>
            </div>
        </div>
    </div>
  </div>