@use '../abstracts' as *;

.accountPopover{
    @include card-box-shadow;
    background: $surface-default;
    border-radius: $default-radius;
    width:227px;
    height:284px;
    position:absolute;
    top: 56px;
    right:18px;
    z-index: 100;
}

.popoverAvatar{ 
    height: 40px;
    width: auto;
}

.pop-head{
    gap: 14px;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid $border-navigation;
}

.pop-body{
    padding:16px;
    
}

.pop-foot{
    border-top: 1px solid $border-navigation;
    position: absolute;
    bottom: 0;
    left:0;
    padding: 16px;
    align-items: center;
    gap: 16px;
}

.localTime{
    margin-top: 4px;
}