@use '../abstracts' as *;

.header {
 background-color: $header-background;
 width: 100%;
 height: 56px;
 padding: 0 18px 0 20px;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
 min-width:1440px;
 position: fixed;
 overflow: visible;
 z-index:99;
}

.headerSearch {
  @include defaultSearchInput(368px, 32px);
  margin-left: 27px;
}

.headerSearch:placeholder-shown {
text-align: right;
}

.headerSearchPlaceholder {
  position: relative;
  top: 7px;
  left: -341px;
  color: $text-subdued;
  font-size: 12px;
}

#header .logo {
  margin-right: 60px;
}

#header .logo2 {
  position: absolute;
  left:50%;
	top:50%;
	transform:translate(-50%, -50%);
  height: 24px;
  width:auto;
}

.display {
  display: none;
}

.burger{
  margin-bottom: 3px;
}

.visibility {
  visibility: hidden;
}

.header.collapsed{
  min-width:1256px;
}

.header.sidebarClosed{
  min-width:1203px;
}

#avatar{
  cursor: pointer;
}