@use '../abstracts' as *;
body{
  background-color: $background-default;
}
main{
  display: flex;
  flex-direction: row;
}
#main{
    margin-top: 56px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin-left:240px;
}

#main.expanded{
    margin-left: 64px;
}

#main.sidebarClosed{
  margin-left: 0px;
}

