@use '../abstracts' as *;

.panelScreen {
    display: none;
    height: 100%;
    width: 100vw;
    background: rgba(83, 83, 83, 0.33);
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    flex-direction: row-reverse;
    overflow: auto;
    z-index:100;
}

.addEditContainer {
    width: 680px;

    .p-foot{
        display: flex;
        justify-content: end;
        button{
            margin-top:24px;
        }
    }
}

.panelContainer {
    padding: 32px 40px;
    border-radius: 3px 0px 0px 3px;
    background-color: $surface-default;
    width: 760px;
    overflow: auto;
}

.panelTitle {
    @include font-default(20px, 700, 28px);
    margin-right: 8px;
}

.formBreak{
    padding-bottom: 32px;
    border-bottom: 1px solid $border-navigation;
  }
  
  .panelBtnContainer{
    margin-top: 32px;
  }
  
  .panelHeading{
    //accounting for the 20px form gap
    margin-top:12px;
    margin-bottom: -4px
  }