@use '../abstracts' as *;


#sideBar {
  background: $base-surface;
  margin-top: 56px;

  svg {
    margin-right: 10px;
  }

  li {
    width: 240px;
    height: 36px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: $text-default;
    font-weight: 500;
    font-size: 12px;
    min-width: 64px;
  }
  
  li:hover {
    cursor: pointer;
    .expandedContainer {
      background-color: #E1E3E5;
      color: $text-hover;
    }
  
    .HoverState {
      visibility: visible; 
    }
  
    a {
      background: #E1E3E5;  
    }
  
    .icon {
      fill: $icon-hovered;
    }
  }

  li:active {
    .expandedContainer {
      color: $action-primary-pressed;
    }
    .icon {
      fill: $icon-pressed;
    }
  }

  a {
    width: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 36px;
    background: $base-surface;
    border-radius: 4px 0 0 4px;
  }

  .icon {
    fill:$icon-default;
  }


  .expandedContainer {
    width: 166px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    background-color: $base-surface;
    display: flex;
    align-items: center;
    margin-right: 6px;
  }
}

.sideBarContainer {
  background-color: $base-surface;
  padding: 12px 0 0 0;
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: auto;
  padding-right: 0;
  position: fixed;
  top:56;
  left:0;
  height:100vh;
  z-index:99;
}


.sideBarCollapsed {
  padding: 12px 0 0 0;
  background-color: $base-surface;
  width: 64px;
  height: 100%;
}

.sideBarExpanded {
  width: 164px;
  background-color: $base-surface;
  padding: 12px 0 0 0;
  height: 100%;
  li {
    @include nav-text
  }

}

.closeSidebar{
  position: fixed;
  bottom: 32px;
  left: 0;
  z-index: 101;
  cursor: pointer;
  width: 240px;
  svg{
    margin-left:206px;
  }
}

.openSidebar{
  position: fixed;
  bottom: 32px;
  left: 0px;
  z-index: 101;
  transform:rotate(180deg);
  cursor: pointer;
  display:none;
  width:56px;
  svg{
    margin-left:18px;
  }
}

.adminHoverState,
.reportsHoverState,
.financeHoverState,
.receivablesHoverState,
.verificationHoverState,
.collateralHoverState,
.vendorsHoverState,
.debtorHoverState,
.accountsHoverState,
.clientsHoverState,
.HoverState {
  visibility: hidden;
  width: 3px;
  height: 36px;
  background: $action-primary-default;
  border-radius: 0px 4px 4px 0px;
}
