@use '../abstracts' as *;

#userPreferences {

  .panelHeader {
    margin-bottom: 16px;
  }

  .yourPhoto {
    @include font-default(12px, 400, 16px);
  }

  .row4 {
    margin: 8px 0 16px 0;
  }

  .selectorContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 20px;
    flex-direction: inherit;
  }

  form.addCompliance {
    gap: 32px 20px;
    margin: 32px 0;
    padding-bottom: 32px;
    border-bottom: 1px solid $border-navigation;
  }

  div.fullWidth {
    width: 100%;
  }

  input.halfWidth,
  div.halfWidth {
    width: 330px;
  }

  .newPassword {
    width: 330px;
  }

  .newPasswordGap {
    margin-top: 20px;
  }

  .spaceBtwn {
    display: flex;
    justify-content: space-between;
  }
}