@use '../abstracts' as *;
@use '../components' as *;

.newClientCard{
    @extend .clientCard;
    z-index:1;
    min-height: 0px;
    p{
        margin-bottom: 0;
    }
}

.underCard{
    @extend .card;
    margin-top: -100px;
    padding-top: 100px;
    z-index:0;
    .c-head{
        margin-top: 4px;
        padding-bottom: 36px;
    }
    .c-foot{
        button, [type='submit']{
            padding: 8px 27px;
        }
    }
}

.newClientInfo{
    @extend .clientInfo;
    grid-template-columns: repeat(5, 1fr) 80px;
    grid-template-rows: repeat(1, 1fr);
    border-top: 1px solid $action-secondary-pressed;
    padding-top:24px;
}


//client compliance table and input styles
table.compliance{
    margin-bottom: 32px;
    tr{
        flex:1;
    }
    td:nth-child(1){
        width:180px;
    }
}

table{     
    input.sfValue {
        @extend .form-select;
        background-color: $surface-default;
        background-image: url(/img/Assets/sfValue.svg);
        background-size: auto;
        &:focus {
            @include input-focus-shadow;
            }
    }

    input.modValue {
        @extend .form-select;
        background-color: $surface-success-subdued;
        border-color: $border-success-default;
        background-image: url(/img/Assets/modValue.svg);
        background-size: auto;
        &:focus {
            @include input-focus-shadow;
            }
    }
}

.verified{
    @extend .align-center; 
    width: 160px;
}

.verifiedCol{
    th:last-child, td:last-child{
        @extend .align-center;
        width: 160px;
    }
}