<div id="fuelDetail" class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">Card - 7083050030436297910</h2>
    </div>
    <div class="col-4 contentEnd">
      <div class="flexRow gap-8 center-y">
        <label class="panelStatus" for="status">Status:</label>
        <input name="status" class="statusIndicator" id="" placeholder="Active" disabled>
      </div>
    </div>
  </div>
  <h5>Spending Controls</h5>
  <div class="">
    <table class="mt-24 mb-32" id="spendingControls">
      <thead>
        <tr>
          <th>GROUP</th>
          <th>DESCRIPTION</th>
          <th>LIMIT (MAX)</th>
          <th>UNIT</th>
          <th>HOURS (MAX)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CADV</td>
          <td>Cash Advance</td>
          <td>100 (100)</td>
          <td>$</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>DEF</td>
          <td>Diesel Exhaust Fluid Urea</td>
          <td>50 (50)</td>
          <td>GAL</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>DSL</td>
          <td>Diesel</td>
          <td>250 (250)</td>
          <td>GAL</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>OIL</td>
          <td>Oil</td>
          <td>50 (50)</td>
          <td>$</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>RFR</td>
          <td>Reefer</td>
          <td>50 (50)</td>
          <td>GAL</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>ULSO</td>
          <td>Ultra Low Sulfur Diesel</td>
          <td>250 (250)</td>
          <td>GAL</td>
          <td>24 (24)</td>
        </tr>
        <tr>
          <td>WWFL</td>
          <td>Windshield Washer Fluid</td>
          <td>25 (25)</td>
          <td>$</td>
          <td>24 (24)</td>
        </tr>
      </tbody>
    </table>
  </div>
    <h5>Recent Activity</h5>
    <table class="mt-24" id="recentActivity"> 
      <thead>
        <th>TRANSACTION #</th>
        <th>LOCATION</th>
        <th>DATE</th>
        <th>TIME</th>
        <th>INVOICE</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>920624464</td>
        <td>THORNTONS #615</td>
        <td>2021-09-21</td>
        <td>1:03 PM</td>
        <td>F221192</td>
        <td>$464.85</td>
      </tr>
      <tr>
        <td>920127640</td>
        <td>WILLCOX TRUCK STOP</td>
        <td>2021-09-18</td>
        <td>9:23 AM</td>
        <td>F219756</td>
        <td>$607.83</td>
      </tr>
      <tr>
        <td>918886905</td>
        <td>ARLINGTION FUEL STOP INC</td>
        <td>2021-09-14</td>
        <td>4:00 PM</td>
        <td>F219756</td>
        <td>$390.91</td>
      </tr>
      <tr>
        <td>9173758479</td>
        <td>PILOT TOWN PUMP BELGRADE</td>
        <td>2021-09-09</td>
        <td>1:07 PM</td>
        <td>F218366</td>
        <td>$629.63</td>
      </tr>
      <tr>
        <td>916090076</td>
        <td>SHREES TRUCK STOP</td>
        <td>2021-09-04</td>
        <td>2:38 PM</td>
        <td>F217002</td>
        <td>$371.58</td>
      </tr>
    </tbody>
  </table>
  <div class="p-foot">
    <button class="btnSecondary">Load More<img class="icon-right" src="/img/Assets/moreIcon.svg"></button>
  </div>
</div>