<div class="relative" id="header">
  <div class="header align-items-center container-fluid">
    <div class="row ">
      <img class="col logo" src="/img/logoFullOrgane.svg">
      <button id="sideBurgerLeft" class="burger col">
        <img src="/img/Assets/sideburgerLeft.svg">
      </button>
      <button id="sideBurgerRight" class="burger col display">
        <img  src="/img/Assets/sideburgerRight.svg">
      </button>
      <input class="col headerSearch">
      <div class="col headerSearchPlaceholder">Search</div>
    </div>
    <div class="row">
      <img class="col logo2 display" src="/img/logoFullOrgane.svg">
    </div>
    <div class="row align-items-center">
      <div class="col d-flex">
        <img src="/img/Assets/menu.svg">
        <img class="mx-3" src="/img/Assets/notifications_none.svg">
        <div class="avatarContainer">
          <img id="avatar" class="avatar" src="/img/Assets/avatar.png">
        </div>
      </div>
    </div>
    <div class="accountPopover hide">
      <div class="relative">
        <div class="pop-head d-flex">
          <div class="avatarContainerLg">
            <img id="avatar" class="avatar" src="/img/Assets/avatar.png">
          </div>
          <div class="flex-column d-flex">
            <span class="caption">Auston Matthews</span>
            <span class="caption textDisabled">Account Manager</span>
          </div>
        </div>
        <div class="pop-body d-flex flex-column">
          <div class="d-flex flex-column">
            <span class="subheading textDisabled">LOCAL TIME</span>
            <span class="localTime caption">10:03am CST</span>
          </div>
          <div class="mt-3 d-flex flex-column">
            <span class="caption">(509) 242-3498</span>
            <span class="caption">auston.matthews@mapleleafs.com</span>
          </div>
        </div>
        <div class="pop-foot d-flex">
          <button id="openPreferences" class="btnSecondary">Preferences</button>
          <a href="" class="caption logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
