<ul class="sideBarContainer">
  <li id="workSpace" class="sideBarSelector">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M16.0803 10.0753C16.0051 10.0753 15.8545 10.1505 15.7792 10.2258L15.0264 10.9787L16.6073 12.5596L17.3602 11.8068C17.5107 11.6562 17.5107 11.3551 17.3602 11.2045L16.3815 10.2258C16.3062 10.1505 16.2309 10.0753 16.0803 10.0753ZM14.65 11.4304L10.0577 15.9474V17.5283H11.6386L16.2309 12.936L14.65 11.4304ZM16.0803 6.98863H10.0577V2.47162H16.0803V6.98863ZM10.0577 13.8093V8.49431H16.0803V8.56959C15.5082 8.56959 15.0038 8.87072 14.7177 9.16433L10.0577 13.8093ZM8.55198 9.99998H2.5293V2.47162H8.55198V9.99998ZM8.55198 16.0227H2.5293V11.5056H8.55198V16.0227Z" fill="#347C84"/>
        </svg>
      </a>
      <div class="expandedContainer">Workspace</div> 
    </div>
  </li>
  <li id="clients">
    <div class="HoverState"></div>
    <div class="row">
      <a href="">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M13.0124 14.1406V15.6463H2.47266V14.1406C2.47266 14.1406 2.47266 11.1293 7.74251 11.1293C13.0124 11.1293 13.0124 14.1406 13.0124 14.1406ZM10.3774 6.98866C10.3774 6.46752 10.2229 5.95809 9.93337 5.52478C9.64384 5.09147 9.23232 4.75374 8.75085 4.55431C8.26938 4.35488 7.73958 4.3027 7.22846 4.40437C6.71733 4.50604 6.24783 4.75699 5.87933 5.12549C5.51083 5.49399 5.25988 5.96349 5.15821 6.47462C5.05654 6.98574 5.10872 7.51554 5.30815 7.99701C5.50759 8.47848 5.84531 8.88999 6.27862 9.17952C6.71193 9.46905 7.22137 9.62359 7.74251 9.62359C8.44133 9.62359 9.11154 9.34598 9.60568 8.85184C10.0998 8.35769 10.3774 7.68749 10.3774 6.98866ZM12.9672 11.1293C13.43 11.4874 13.8087 11.9426 14.0766 12.4629C14.3446 12.9832 14.4952 13.5558 14.518 14.1406V15.6463H17.5294V14.1406C17.5294 14.1406 17.5294 11.4078 12.9672 11.1293ZM12.2595 4.35374C11.7413 4.35085 11.2345 4.50578 10.8065 4.79791C11.2639 5.43687 11.5097 6.20292 11.5097 6.98866C11.5097 7.77441 11.2639 8.54046 10.8065 9.17942C11.2345 9.47155 11.7413 9.62647 12.2595 9.62359C12.9583 9.62359 13.6286 9.34598 14.1227 8.85184C14.6168 8.35769 14.8944 7.68749 14.8944 6.98866C14.8944 6.28984 14.6168 5.61963 14.1227 5.12549C13.6286 4.63135 12.9583 4.35374 12.2595 4.35374Z" fill="#787878"/>
        </svg>     
      </a>
      <div class="expandedContainer">Clients</div>
    </div>
  </li>
  <li id="accounts">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M10 2C5.58214 2 2 5.58214 2 10C2 14.4179 5.58214 18 10 18C14.4179 18 18 14.4179 18 10C18 5.58214 14.4179 2 10 2ZM10.3982 13.8786L10.4018 14.4446C10.4018 14.5232 10.3375 14.5893 10.2589 14.5893H9.75179C9.67321 14.5893 9.60893 14.525 9.60893 14.4464V13.8857C8.02321 13.7679 7.27679 12.8643 7.19643 11.8821C7.18929 11.7982 7.25536 11.7268 7.33929 11.7268H8.16429C8.23393 11.7268 8.29464 11.7768 8.30536 11.8446C8.39643 12.4107 8.8375 12.8339 9.62857 12.9393V10.3911L9.1875 10.2786C8.25357 10.0554 7.36429 9.47321 7.36429 8.26607C7.36429 6.96429 8.35357 6.26429 9.61786 6.14107V5.55179C9.61786 5.47321 9.68214 5.40893 9.76071 5.40893H10.2625C10.3411 5.40893 10.4054 5.47321 10.4054 5.55179V6.13571C11.6286 6.25893 12.5464 6.97321 12.6536 8.08571C12.6625 8.16964 12.5964 8.24286 12.5107 8.24286H11.7089C11.6375 8.24286 11.5768 8.18929 11.5679 8.11964C11.4964 7.59821 11.0786 7.17321 10.3982 7.08036V9.47857L10.8518 9.58393C12.0089 9.86964 12.7964 10.4232 12.7964 11.6625C12.7964 13.0071 11.7964 13.7571 10.3982 13.8786ZM8.475 8.18393C8.475 8.6375 8.75536 8.98929 9.35893 9.20714C9.44286 9.24107 9.52679 9.26786 9.62679 9.29643V7.08214C8.96786 7.16607 8.475 7.53571 8.475 8.18393ZM10.5554 10.5982C10.5054 10.5875 10.4554 10.575 10.3982 10.5589V12.9464C11.1589 12.8786 11.6839 12.4607 11.6839 11.7607C11.6839 11.2125 11.4 10.8554 10.5554 10.5982Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Accounts</div>
    </div>
  </li>
  <li id="debtor">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M11.3827 8.00001C13.4605 8.00001 15.1469 6.31366 15.1469 4.23583C15.1469 2.158 13.4605 0.471649 11.3827 0.471649C9.30488 0.471649 7.61853 2.158 7.61853 4.23583C7.61853 6.31366 9.30488 8.00001 11.3827 8.00001ZM15.4857 12.2159C15.1921 11.9148 14.8232 11.7642 14.3941 11.7642H9.1242L7.5583 11.2146L7.80674 10.507L9.1242 11.0114H11.2321C11.4956 11.0114 11.7064 10.906 11.8796 10.7328C12.0527 10.5596 12.1355 10.3489 12.1355 10.1155C12.1355 9.70895 11.9398 9.4304 11.5483 9.2723L6.07522 7.24717H4.60719V14.0227L9.87704 15.5284L15.9223 13.2699C15.9298 12.8709 15.7793 12.517 15.4857 12.2159ZM3.10151 7.24717H0.078125V15.5284H3.10151V7.24717Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Debtor</div>
    </div>
  </li>
  <li id="vendors">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M11.5638 11.8038H2.43463V10.2823H11.5638V11.8038ZM11.5638 8.76077H2.43463V7.23924H11.5638V8.76077ZM11.5638 5.71772H2.43463V4.1962H11.5638V5.71772ZM0.152344 15.6076L1.29349 14.4665L2.43463 15.6076L3.57577 14.4665L4.71691 15.6076L5.85805 14.4665L6.99919 15.6076L8.14033 14.4665L9.28148 15.6076L10.4226 14.4665L11.5638 15.6076L12.7049 14.4665L13.846 15.6076V0.392395L12.7049 1.53354L11.5638 0.392395L10.4226 1.53354L9.28148 0.392395L8.14033 1.53354L6.99919 0.392395L5.85805 1.53354L4.71691 0.392395L3.57577 1.53354L2.43463 0.392395L1.29349 1.53354L0.152344 0.392395V15.6076Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Vendors</div>
    </div>
  </li>
  <li id="collateral">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M8.74213 14.0227V5.59093C9.11855 5.44037 9.49497 5.21452 9.72082 4.91338L12.3557 5.89207L10.1725 11.0114C9.7961 12.517 10.9254 13.2699 12.8074 13.2699C14.6895 13.2699 15.8941 12.517 15.4424 11.0114L13.485 6.26849L14.1626 6.49434L14.6895 5.06395L10.2478 3.48299C10.2478 2.57959 9.72082 1.67619 8.74213 1.29977C7.83873 0.923351 6.86004 1.29977 6.25777 1.97732L1.89133 0.471649L1.36434 1.82675L2.56888 2.27846L0.536221 7.24717C0.159803 8.75284 1.28906 9.50568 3.17115 9.50568C5.05324 9.50568 6.25777 8.75284 5.80607 7.24717L3.92398 2.80544L5.73079 3.48299C5.73079 4.3864 6.25777 5.2898 7.23646 5.66622V14.0227H0.460938V15.5284H15.5177V14.0227H8.74213ZM13.9367 11.0114H11.6782L12.8074 8.15057L13.9367 11.0114ZM4.3004 7.24717H2.04189L3.17115 4.3864L4.3004 7.24717ZM7.31174 3.25714C7.46231 2.88072 7.91401 2.65487 8.29043 2.80544C8.66685 2.95601 8.8927 3.40771 8.74213 3.78413C8.59157 4.16055 8.13986 4.3864 7.76345 4.23583C7.38703 4.08526 7.16118 3.63356 7.31174 3.25714Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Collateral</div>
    </div>
  </li>
  <li id="verification">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M6.99888 0.651794L0.320312 3.68751V8.24107C0.320312 12.4531 3.16983 16.392 6.99888 17.3482C10.8279 16.392 13.6774 12.4531 13.6774 8.24107V3.68751L6.99888 0.651794ZM5.51475 12.7946L2.5465 9.75893L3.59281 8.68884L5.51475 10.6469L10.4049 5.64554L11.4513 6.72322L5.51475 12.7946Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Verification</div>
    </div>
  </li>
  <li id="receivables">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M9.66667 12.1667H3.83333V10.5H9.66667V12.1667ZM12.1667 8.83333H3.83333V7.16667H12.1667V8.83333ZM12.1667 5.5H3.83333V3.83333H12.1667V5.5ZM13.8333 0.5H2.16667C1.24167 0.5 0.5 1.24167 0.5 2.16667V13.8333C0.5 14.2754 0.675595 14.6993 0.988155 15.0118C1.30072 15.3244 1.72464 15.5 2.16667 15.5H13.8333C14.2754 15.5 14.6993 15.3244 15.0118 15.0118C15.3244 14.6993 15.5 14.2754 15.5 13.8333V2.16667C15.5 1.72464 15.3244 1.30072 15.0118 0.988155C14.6993 0.675595 14.2754 0.5 13.8333 0.5Z" fill="#787878"/>
        </svg>        
      </a>
    <div class="expandedContainer">Receivables</div>
    </div>
  </li>
  <li id="finance">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M7.9996 0.0952225L0.847656 3.8594V5.36507H15.1515V3.8594L7.9996 0.0952225ZM11.3874 6.87075V12.1406H13.6459V6.87075H11.3874ZM0.847656 15.9048H15.1515V13.6463H0.847656V15.9048ZM6.87034 6.87075V12.1406H9.12885V6.87075H6.87034ZM2.35333 6.87075V12.1406H4.61184V6.87075H2.35333Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Finance</div>
    </div>
  </li>
  <li id="reports">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M0.224609 15.5284V4.98866H3.23595V15.5284H0.224609ZM5.49446 15.5284V0.471642H8.5058V15.5284H5.49446ZM10.7643 15.5284V9.50567H13.7757V15.5284H10.7643Z" fill="#787878"/>
        </svg>        
      </a>
      <div class="expandedContainer">Reports</div>
    </div>
  </li>
  <li id="admin">
    <div class="HoverState"></div>
    <div class="row">
      <a>
        <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="icon" d="M6.17112 0.224478C5.37247 0.224478 4.60652 0.541743 4.04178 1.10648C3.47705 1.67122 3.15978 2.43716 3.15978 3.23582C3.15978 4.03448 3.47705 4.80043 4.04178 5.36516C4.60652 5.9299 5.37247 6.24716 6.17112 6.24716C6.96978 6.24716 7.73573 5.9299 8.30047 5.36516C8.8652 4.80043 9.18247 4.03448 9.18247 3.23582C9.18247 2.43716 8.8652 1.67122 8.30047 1.10648C7.73573 0.541743 6.96978 0.224478 6.17112 0.224478ZM11.441 6.24716C11.395 6.24631 11.3501 6.26168 11.3143 6.2906C11.2785 6.31951 11.2541 6.36011 11.2452 6.40526L11.1022 7.399C10.8763 7.49687 10.658 7.61733 10.4623 7.75284L9.52877 7.37642C9.44596 7.37642 9.34809 7.37642 9.29539 7.47429L8.54256 8.77669C8.49739 8.8595 8.51244 8.95737 8.58773 9.0176L9.38573 9.63493C9.3557 9.88497 9.3557 10.1377 9.38573 10.3878L8.58773 11.0051C8.5539 11.0341 8.53098 11.0738 8.52277 11.1176C8.51455 11.1614 8.52153 11.2067 8.54256 11.246L9.29539 12.5484C9.34056 12.6463 9.43843 12.6463 9.52877 12.6463L10.4623 12.2699C10.658 12.4054 10.8688 12.5333 11.1022 12.6237L11.2452 13.6174C11.2603 13.7078 11.3356 13.7755 11.441 13.7755H12.9466C13.0295 13.7755 13.1123 13.7078 13.1273 13.6174L13.2704 12.6237C13.4962 12.5258 13.6995 12.4054 13.9027 12.2699L14.8287 12.6463C14.9266 12.6463 15.0245 12.6463 15.0772 12.5484L15.83 11.246C15.851 11.2067 15.858 11.1614 15.8498 11.1176C15.8416 11.0738 15.8187 11.0341 15.7848 11.0051L14.9793 10.3878C14.9944 10.2598 15.0094 10.1393 15.0094 10.0113C15.0094 9.88336 15.0019 9.76291 14.9793 9.63493L15.7773 9.0176C15.8111 8.98859 15.8341 8.9489 15.8423 8.90509C15.8505 8.86129 15.8435 8.81599 15.8225 8.77669L15.0696 7.47429C15.0245 7.37642 14.9266 7.37642 14.8287 7.37642L13.9027 7.75284C13.6995 7.61733 13.4962 7.48934 13.2628 7.399L13.1198 6.40526C13.1151 6.36238 13.0949 6.32269 13.063 6.29359C13.0311 6.2645 12.9898 6.248 12.9466 6.24716H11.441ZM6.17112 7.75284C2.84359 7.75284 0.148438 9.10041 0.148438 10.7642V12.2699H7.43589C7.0999 11.5643 6.92503 10.7928 6.92396 10.0113C6.92549 9.25498 7.08982 8.5078 7.40578 7.82059C7.00677 7.77542 6.59271 7.75284 6.17112 7.75284ZM12.1938 8.88209C12.8187 8.88209 13.3231 9.38649 13.3231 10.0113C13.3231 10.6362 12.8187 11.1406 12.1938 11.1406C11.5614 11.1406 11.0646 10.6362 11.0646 10.0113C11.0646 9.38649 11.569 8.88209 12.1938 8.88209Z" fill="#787878"/>
        </svg>
      </a>
      <div class="expandedContainer">Admin</div>
    </div>
  </li>
</ul>

<div id="sidebarCollapse" class="actionIcon closeSidebar" >
  <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.28474 1.04664C7.8046 0.566504 7.11651 0.720589 6.7027 1.13439L6.69601 1.14109L0.667969 8.1588L6.69274 14.9036L6.7027 14.9135C6.80521 15.016 6.91765 15.1028 7.05216 15.1626C7.18775 15.2229 7.33293 15.25 7.49372 15.25C7.81053 15.25 8.05406 15.1442 8.19699 15.0013C8.60918 14.5891 8.76367 13.9047 8.29033 13.4248L3.61384 8.15317L8.37942 2.62169C8.85113 2.14188 8.69654 1.45844 8.28474 1.04664Z" fill="#787878" stroke-width="0"/>
    </svg>
</div>

<div  id="sidebarExpand" class="actionIcon openSidebar">
  <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.28474 1.04664C7.8046 0.566504 7.11651 0.720589 6.7027 1.13439L6.69601 1.14109L0.667969 8.1588L6.69274 14.9036L6.7027 14.9135C6.80521 15.016 6.91765 15.1028 7.05216 15.1626C7.18775 15.2229 7.33293 15.25 7.49372 15.25C7.81053 15.25 8.05406 15.1442 8.19699 15.0013C8.60918 14.5891 8.76367 13.9047 8.29033 13.4248L3.61384 8.15317L8.37942 2.62169C8.85113 2.14188 8.69654 1.45844 8.28474 1.04664Z" fill="#787878" stroke-width="0"/>
    </svg>
</div>
