<div id="userPreferences" class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">User Preferences</h2>
    </div>
  </div>
  <div class="row panelHeader">
    <h5 class="col heading">Your Profile</h5>
  </div>
  <div class="row">
    <div class="col yourPhoto">Your Photo</div>
  </div>
  <div class="row row4">
    <div class="col-6">
      <div class="row d-flex center-y">
        <div class="col d-flex center-y gap-8">
          <div class="avatarContainerLg">
            <img id="avatar" class="avatar" src="/img/Assets/avatar.png">
          </div>
          <div class="d-flex center-y gap-16">
            <button class="btnSecondary">Upload New Photo</button>
            <button class="btnLink subdued caption">Remove</button>
          </div>    
        </div>
    </div>
  </div>
  <form class="mt-32 formBreak">
    <div class="halfWidth">
      <label class="" for="fName">First Name</label>
      <input class="" id="fName">
    </div>
    <div class="halfWidth">
      <label class="" for="lName">Last Name</label>
      <input class="" id="lName">
    </div>
    <div class="halfWidth">
      <label class="" for="phone">Phone Number</label>
      <input class="telInput" id="phone">
    </div>
    <div class="halfWidth">
      <label class="" for="email">Email</label>
      <input class="emailInput" id="email">
    </div>
    <div class="selectorContainer">
      <div class="halfWidth">
        <label class="" for="city">City</label>
        <select class="form-select" id="city"></select>
      </div>
      <div class="halfWidth">
        <label class="" for="timeZone">Time Zone</label>
        <select class="form-select" id="timeZone"></select>
      </div>
      <div class="fullWidth">
        <div class="halfWidth">
          <label class="" for="curency">Default Currency</label>
          <select class="form-select " id="currency">
            <option>Canadian - CAD - ($)</option>
            <option>US Dollar - USD - ($)</option>
          </select>
        </div>
      </div>
    </div>
    <div class="flexColumn">
      <div class="heading">Password</div>
      <div class="caption">Change the password for your account</div>
      <div class="flexRow gap-20 fullWidth newPasswordGap">
        <div class="newPassword">
          <label for="AddressType">New Password</label>
          <input type="password" id="AddressType">
        </div>
        <div class="newPassword">
          <label for="AddressType">Confirm New Password</label>
          <input type="password" id="AddressType">
        </div>
      </div>
    </div>
  </form>
  <div class="panelBtnContainer flexRow spaceBtwn center-y">
    <div class="gap-8 flexRow">
      <button id="save" class="btnPrimary wide">Save</button>
      <button id="cancel" class="btnSecondary">Cancel</button>
    </div>
    <div class="caption">Your account was last updated on October 12, 2016 at 9:38pm EST.</div>
  </div>
</div>