<div class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">Add New Contact for &ltClient Name&#62</h2>
      <button class="starBtn btnSecondary star">
      </button>
    </div>
    <div class="col-4 contentEnd">
      <div class="flexRow gap-8 center-y">
        <label class="panelStatus" for="status">Status:</label>
        <select name="status" class="form-select statusSelector" id="">
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <div class="formBreak">
    <form class="">
      <div class="halfWidth position-relative">
        <label class="" for="status">First Name:</label>
        <input class="fullWidthInput" id="">
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="status">Last Name:</label>
        <input class="" id="">
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="status">Role:</label>
        <select class=" form-select" id="">
          <option></option>
        </select>
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="status">Ownership %:</label>
        <input class="" id="">
      </div>
      <div class="fullWidth">
        <label class="" for="status">Language:</label>
        <select class="language form-select" id="">
          <option></option>
        </select>
      </div>
      <div class="flexRow gap-12">
        <div class="phoneInput">
          <label class="" for="status">Phone (Primary):</label>
          <input class="" id="">
        </div>
        <div class="phoneExt">
          <label class="" for="status">EXT:</label>
          <input class="" id="">
        </div>
      </div>
      <div class="flexRow gap-12">
        <div class="phoneInput">
          <label class="" for="phoneSecondary">Phone (Secondary):</label>
          <input class="" id="phoneSecondary">
        </div>
        <div class="phoneExt">
          <label class="" for="phoneSecondayExt">EXT:</label>
          <input class="" id="phoneSecondaryExt">
        </div>
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="emailPrimary">Email (Primary):</label>
        <input class="emailInput" id="emailPrimary">
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="emailSecondary">Email (Secondary):</label>
        <input class="emailInput" id="emailSecondary">
      </div>
      <div class="flexRow checkBoxRow fullWidth">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id='Authority' checked>
          <label for="Authority" class="form-check-label">Authority</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id='Attention'>
          <label for="Attention" class="form-check-label">Attention</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id='Guarantor'>
          <label for="Guarantor" class="form-check-label">Guarantor</label>
        </div>
      </div>
      <div class="fullWidth">
        <label>Notes</label>
        <textarea type="text" class="panelNotes"></textarea>
      </div>
      <div class="flexColumn">
        <label>Last Verified Date:</label>
        <input class="lastVerifiedDate" disabled>
      </div>
    </form>
  </div>
  <div class="panelBtnContainer flexRow gap-8">
    <button id="save" class="btnPrimary wide">Save</button>
    <button id="cancel" class="btnSecondary">Cancel</button>
  </div>
</div>