<div class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">Add Address for &ltClient Name&#62</h2>
      <button class="starBtn btnSecondary star">
      </button>
    </div>
    <div class="col-4 contentEnd">
      <div class="flexRow gap-8 center-y">
        <label class="panelStatus" for="status">Status:</label>
        <select name="status" class="form-select statusSelector" id="">
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <div class="formBreak">
    <form class="">
       <div class="halfWidth position-relative">
        <label class="" for="AddressType">Address Type:</label>
        <select class="form-select" id="AddressType"></select>
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="Country">Country:</label>
        <select class="form-select" id="Country"></select>
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="Address1">Address 1:</label>
        <input class="" id="Address1">
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="Address2">Address 2:</label>
        <input class="" id="Address2">
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="City">City:</label>
        <input class="" id="City">
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="State">State:</label>
        <select class="form-select" id="State"></select>
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="Zip">Zip/PC:</label>
        <input class="" id="Zip">
      </div>
       <div class="halfWidth position-relative">
        <label class="" for="BusinessPhone">Business Phone:</label>
        <input class="" id="BusinessPhone">
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="businessEmail">Business Email:</label>
        <input class="emailInput" id="businessEmail">
      </div>
      <div class="halfWidth position-relative">
        <label class="" for="website">Website:</label>
        <input class="" id="website">
        <a class="websiteLink position-absolute" href="">
          <svg class="websiteIcon" width="16" height="16" viewBox="0 0 16 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.59766 4.25885C3.95078 4.25885 3.42578 4.78385 3.42578 5.43073V11.5245C3.42578 12.1714 3.95078 12.6964 4.59766 12.6964H10.6914C11.3383 12.6964 11.8633 12.1714 11.8633 11.5245V10.1182C11.8633 9.93174 11.9374 9.7529 12.0692 9.62104C12.2011 9.48918 12.3799 9.4151 12.5664 9.4151C12.7529 9.4151 12.9317 9.48918 13.0636 9.62104C13.1955 9.7529 13.2695 9.93174 13.2695 10.1182V11.5245C13.2695 12.2082 12.9979 12.864 12.5144 13.3475C12.0309 13.831 11.3752 14.1026 10.6914 14.1026H4.59766C3.9139 14.1026 3.25814 13.831 2.77465 13.3475C2.29115 12.864 2.01953 12.2082 2.01953 11.5245V5.43073C2.01953 4.74696 2.29115 4.09121 2.77465 3.60772C3.25814 3.12422 3.9139 2.8526 4.59766 2.8526H6.00391C6.19039 2.8526 6.36923 2.92668 6.50109 3.05854C6.63295 3.1904 6.70703 3.36924 6.70703 3.55573C6.70703 3.74221 6.63295 3.92105 6.50109 4.05291C6.36923 4.18477 6.19039 4.25885 6.00391 4.25885H4.59766ZM7.64453 3.55573C7.64453 3.36924 7.71861 3.1904 7.85047 3.05854C7.98233 2.92668 8.16118 2.8526 8.34766 2.8526H12.5664C12.7529 2.8526 12.9317 2.92668 13.0636 3.05854C13.1955 3.1904 13.2695 3.36924 13.2695 3.55573V7.77448C13.2695 7.96096 13.1955 8.1398 13.0636 8.27166C12.9317 8.40352 12.7529 8.4776 12.5664 8.4776C12.3799 8.4776 12.2011 8.40352 12.0692 8.27166C11.9374 8.1398 11.8633 7.96096 11.8633 7.77448V5.25354L8.84453 8.27229C8.77964 8.33941 8.70203 8.39294 8.61623 8.42975C8.53042 8.46656 8.43815 8.48591 8.34479 8.48668C8.25143 8.48744 8.15885 8.46961 8.07246 8.43422C7.98606 8.39882 7.90758 8.34658 7.8416 8.28053C7.77561 8.21448 7.72344 8.13595 7.68812 8.04952C7.65281 7.96309 7.63506 7.8705 7.63592 7.77714C7.63677 7.68378 7.65621 7.59152 7.6931 7.50576C7.72999 7.41999 7.7836 7.34243 7.85078 7.2776L10.8695 4.25885H8.34766C8.16118 4.25885 7.98233 4.18477 7.85047 4.05291C7.71861 3.92105 7.64453 3.74221 7.64453 3.55573Z"
              fill="#787878" />
          </svg>
        </a>
      </div>
      <div class="fullWidth">
        <label>Notes</label>
        <textarea type="text" class="panelNotes"></textarea>
      </div>
      <div class="flexColumn">
        <label>Last Verified Date:</label>
        <input class="lastVerifiedDate" disabled>
      </div>
    </form>
  </div>
  <div class="panelBtnContainer flexRow gap-8">
    <button id="save" class="btnPrimary wide">Save</button>
    <button id="cancel" class="btnSecondary">Cancel</button>
  </div>
</div>