<div id="clientContactScreen" class="container-fluid cardContainer">
    <div class="row">
        <div class="col">
            <div class="clientCard">
                <div class="c-head">
                    <div class="alignLeft">
                        <div class="breadcrumbs">
                            <span><a href="">My Workspace</a></span>
                            <img src="/img/Assets/chevronRight.svg">
                            <span>Client</span>
                        </div>
                        <div class="clientName">
                            <div class="dbaName">
                                <h3>Landstar Trucking Toronto Depot</h3>
                                <h5>10015</h5>
                            </div>
                            <div class="legalName">
                                <h6>LEGAL NAME: 1009456 Canada Inc.</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btnPrimary">Add Case</button>
                </div>
                <div class="c-body">
                    <div class="clientInfo">
                        <div>
                            <h6>Office:</h6>
                            <p>Orillia</p>
                        </div>
                        <div>
                            <h6>Account Manager:</h6>
                            <p>Eve Clipse</p>
                        </div>
                        <div>
                            <h6>Signed Date:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Language:</h6>
                            <p>EN</p>
                        </div>
                        <div>
                            <h6>Status:</h6>
                            <p>Active</p>
                        </div>
                        <div>
                            <h6>Sub-status:</h6>
                            <p>Collect Out</p>
                        </div>
                        <div>
                            <h6>Motor Carrier #:</h6>
                            <p>7654321</p>
                        </div>
                        <div>
                            <h6>D.O.T. #:</h6>
                            <p>343423</p>
                        </div>
                        <div>
                            <h6>First Funded:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Common Authority:</h6>
                            <p>None</p>
                        </div>
                        <div>
                            <h6>Contract Authority:</h6>
                            <p>Inactive</p>
                        </div>
                        <div>
                            <h6>Broker Authority:</h6>
                            <p>Active</p>
                        </div>
                    </div>
                </div>
                <div class="c-foot">
                    <nav>
                        <ul>
                            <li id="clientAccounts">Accounts</li>
                            <li id="clientSummary">Summary</li>
                            <li id="clientContacts" class="active-tab">Contacts</li>
                            <li id="clientFuel">Fuel</li>
                            <li id="clientVisa">Visa</li>
                            <li id="clientVendors">Vendors</li>
                            <li id="clientLogs">Logs</li>
                            <li id="clientDocs">Documents</li>
                            <li id="clientCases">Cases</li>
                            <li id="clientSettings"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.089 10.5444V10V9.44844L19.5015 8.24503C19.7619 8.02158 19.9328 7.7157 19.9839 7.38144C20.0351 7.04719 19.9632 6.7061 19.7811 6.41843L18.0448 3.55318C17.9158 3.33561 17.7303 3.15489 17.5069 3.02917C17.2835 2.90344 17.0301 2.83712 16.772 2.83686C16.6121 2.83567 16.4531 2.85987 16.3012 2.9085L14.5134 3.49587C14.2048 3.29617 13.8828 3.1167 13.5496 2.95864L13.1744 1.15353C13.1072 0.823741 12.9229 0.527499 12.6539 0.316661C12.3849 0.105822 12.0483 -0.00617905 11.703 0.000263196H8.25991C7.91464 -0.00617905 7.57804 0.105822 7.30904 0.316661C7.04004 0.527499 6.85577 0.823741 6.78849 1.15353L6.41328 2.95864C6.07775 3.11666 5.75333 3.29613 5.44215 3.49587L3.69117 2.87984C3.53762 2.84089 3.37862 2.82638 3.22031 2.83686C2.96228 2.83712 2.70886 2.90344 2.48546 3.02917C2.26207 3.15489 2.07655 3.33561 1.94754 3.55318L0.211271 6.41843C0.0395469 6.70567 -0.0242649 7.0421 0.0307642 7.3701C0.0857933 7.69811 0.256239 7.99728 0.51291 8.21638L1.9034 9.4556V10.5516L0.51291 11.755C0.248989 11.9756 0.0738812 12.2801 0.0186614 12.6145C-0.0365585 12.9489 0.0316813 13.2915 0.211271 13.5816L1.94754 16.4468C2.07655 16.6644 2.26207 16.8451 2.48546 16.9708C2.70886 17.0966 2.96228 17.1629 3.22031 17.1631C3.38022 17.1643 3.53925 17.1401 3.69117 17.0915L5.47893 16.5041C5.78759 16.7038 6.10956 16.8833 6.44271 17.0414L6.81792 18.8465C6.8852 19.1763 7.06946 19.4725 7.33847 19.6833C7.60747 19.8942 7.94407 20.0062 8.28933 19.9997H11.7619C12.1071 20.0062 12.4437 19.8942 12.7127 19.6833C12.9817 19.4725 13.166 19.1763 13.2333 18.8465L13.6085 17.0414C13.944 16.8833 14.2684 16.7039 14.5796 16.5041L16.36 17.0915C16.512 17.1401 16.671 17.1643 16.8309 17.1631C17.0889 17.1629 17.3423 17.0966 17.5657 16.9708C17.7891 16.8451 17.9747 16.6644 18.1037 16.4468L19.7811 13.5816C19.9528 13.2943 20.0166 12.9579 19.9616 12.6299C19.9066 12.3019 19.7361 12.0027 19.4794 11.7836L18.089 10.5444ZM16.772 15.7305L14.2486 14.8996C13.6578 15.3868 12.9827 15.7676 12.2548 16.0242L11.7324 18.5958H8.25991L7.73755 16.0529C7.0154 15.7889 6.34392 15.4088 5.75114 14.9282L3.22031 15.7305L1.48404 12.8653L3.48517 11.1461C3.34913 10.4046 3.34913 9.64553 3.48517 8.90404L1.48404 7.13475L3.22031 4.26949L5.74379 5.10042C6.33451 4.61325 7.00965 4.23243 7.73755 3.9758L8.25991 1.40424H11.7324L12.2548 3.94715C12.9769 4.21106 13.6484 4.59122 14.2412 5.07176L16.772 4.26949L18.5083 7.13475L16.5072 8.8539C16.6432 9.59538 16.6432 10.3545 16.5072 11.096L18.5083 12.8653L16.772 15.7305Z" fill="#787878"/>
                                <path d="M9.99628 14.2979C9.12322 14.2979 8.26977 14.0458 7.54385 13.5736C6.81794 13.1013 6.25215 12.4301 5.91805 11.6448C5.58394 10.8594 5.49653 9.99526 5.66685 9.16156C5.83718 8.32785 6.25759 7.56204 6.87493 6.96097C7.49228 6.3599 8.27882 5.95057 9.1351 5.78473C9.99138 5.6189 10.8789 5.70401 11.6855 6.02931C12.4921 6.3546 13.1815 6.90547 13.6666 7.61226C14.1516 8.31904 14.4105 9.14999 14.4105 10C14.4164 10.566 14.3063 11.1275 14.0865 11.6515C13.8668 12.1756 13.5419 12.6517 13.1308 13.0519C12.7197 13.4521 12.2307 13.7685 11.6925 13.9825C11.1543 14.1964 10.5776 14.3037 9.99628 14.2979V14.2979ZM9.99628 7.13478C9.60734 7.12596 9.22061 7.19404 8.85947 7.33491C8.49834 7.47578 8.1703 7.68651 7.89521 7.95435C7.62011 8.22219 7.40368 8.54158 7.259 8.8932C7.11431 9.24481 7.04439 9.62135 7.05345 10C7.04439 10.3787 7.11431 10.7553 7.259 11.1069C7.40368 11.4585 7.62011 11.7779 7.89521 12.0457C8.1703 12.3136 8.49834 12.5243 8.85947 12.6652C9.22061 12.806 9.60734 12.8741 9.99628 12.8653C10.3852 12.8741 10.7719 12.806 11.1331 12.6652C11.4942 12.5243 11.8223 12.3136 12.0973 12.0457C12.3724 11.7779 12.5889 11.4585 12.7336 11.1069C12.8782 10.7553 12.9482 10.3787 12.9391 10C12.9482 9.62135 12.8782 9.24481 12.7336 8.8932C12.5889 8.54158 12.3724 8.22219 12.0973 7.95435C11.8223 7.68651 11.4942 7.47578 11.1331 7.33491C10.7719 7.19404 10.3852 7.12596 9.99628 7.13478Z" fill="#787878"/>
                                </svg>
                                </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Communication Preferences</h5>
                    <button class="btnSecondary"><img src="/img/Assets/editIcon-pressed.svg">Edit</button>
                </div> 
                <form class="form-grid col2">
                    <div>
                        <label>General Communications</label>
                        <select class="form-select" id="email">
                            <option>Email</option>
                        </select>
                    </div>
                    <div>
                        <label>...</label>
                        <input class="form-search" type="search" id="" placeholder="Name">
                    </div>
                    <div>
                        <label>Contact Name Used on DOA</label>
                        <input class="form-search" type="search" id="" placeholder="Name">
                    </div>
                    <div>
                        <label>Default NOA Status for Account</label>
                        <select class="form-select" id="NOAStatus">
                            <option>Standard</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Contacts</h5>
                    <div class="btnContainer">
                        <button class="btnSecondary"><svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.56221 11.2518C7.58971 11.4518 7.52097 11.6651 7.36287 11.8051C7.29927 11.8669 7.22373 11.9159 7.14058 11.9493C7.05742 11.9828 6.96827 12 6.87825 12C6.78822 12 6.69907 11.9828 6.61592 11.9493C6.53276 11.9159 6.45722 11.8669 6.39363 11.8051L3.63713 9.13209C3.56216 9.06103 3.50516 8.9741 3.47057 8.87813C3.43599 8.78215 3.42477 8.67972 3.43779 8.57884V5.16597L0.145116 1.07985C0.0334875 0.940892 -0.0168817 0.764735 0.005015 0.589873C0.0269117 0.415012 0.119294 0.255663 0.261975 0.146647C0.392582 0.0533261 0.536937 0 0.688166 0H10.3118C10.4631 0 10.6074 0.0533261 10.738 0.146647C10.8807 0.255663 10.9731 0.415012 10.995 0.589873C11.0169 0.764735 10.9665 0.940892 10.8549 1.07985L7.56221 5.16597V11.2518Z" fill="#015C5C"/>
                        </svg>
                        Filter</button>
                        <button id="addNewContact" class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                    </div>
                </div>
                <table class="view">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Position</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th><svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.16124 8.62718L2.11823 13.1436C2.08593 13.2804 2.09563 13.4237 2.14605 13.5548C2.19647 13.686 2.28528 13.7989 2.40087 13.8788C2.51646 13.9587 2.65346 14.0019 2.79398 14.0028C2.9345 14.0036 3.072 13.962 3.18854 13.8835L7.00006 11.3425L10.8116 13.8835C10.9308 13.9627 11.0714 14.0034 11.2145 14.0003C11.3576 13.9972 11.4963 13.9503 11.612 13.866C11.7276 13.7816 11.8147 13.6639 11.8614 13.5287C11.9082 13.3934 11.9124 13.247 11.8735 13.1093L10.5932 8.62928L13.7684 5.77186C13.8701 5.68029 13.9427 5.56092 13.9773 5.42852C14.0119 5.29611 14.0069 5.15647 13.9629 5.02688C13.919 4.89728 13.838 4.7834 13.73 4.69933C13.6221 4.61526 13.4918 4.56468 13.3554 4.55385L9.36467 4.23605L7.63776 0.413329C7.5827 0.290238 7.49319 0.185713 7.38003 0.11237C7.26687 0.0390266 7.13491 0 7.00006 0C6.86521 0 6.73325 0.0390266 6.62009 0.11237C6.50693 0.185713 6.41742 0.290238 6.36235 0.413329L4.63544 4.23605L0.644722 4.55315C0.51064 4.56378 0.382457 4.6128 0.275508 4.69437C0.16856 4.77593 0.087374 4.88658 0.0416638 5.01308C-0.00404629 5.13957 -0.0123452 5.27656 0.0177599 5.40765C0.0478651 5.53874 0.1151 5.65838 0.21142 5.75226L3.16124 8.62718Z" fill="#787878"/>
                                </svg>
                            </th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Auston Matthews</td>
                            <td>Owner</td>
                            <td>Shot from the Slot</td>
                            <td>(705) 777-5555</td>
                            <td>auston.matthews@thetruckingco.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Mitchell Marner</td>
                            <td>Employee</td>
                            <td>The Playmaker</td>
                            <td>(705) 777-5555</td>
                            <td>mitchell.marner@thetruckingco.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Jack Campbell</td>
                            <td>Employee</td>
                            <td>The Jokester</td>
                            <td>(705) 777-5555</td>
                            <td>jack.campbell@thetruckingco.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Address</h5>
                    <div class="btnContainer">
                        <button class="btnSecondary"><svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.56221 11.2518C7.58971 11.4518 7.52097 11.6651 7.36287 11.8051C7.29927 11.8669 7.22373 11.9159 7.14058 11.9493C7.05742 11.9828 6.96827 12 6.87825 12C6.78822 12 6.69907 11.9828 6.61592 11.9493C6.53276 11.9159 6.45722 11.8669 6.39363 11.8051L3.63713 9.13209C3.56216 9.06103 3.50516 8.9741 3.47057 8.87813C3.43599 8.78215 3.42477 8.67972 3.43779 8.57884V5.16597L0.145116 1.07985C0.0334875 0.940892 -0.0168817 0.764735 0.005015 0.589873C0.0269117 0.415012 0.119294 0.255663 0.261975 0.146647C0.392582 0.0533261 0.536937 0 0.688166 0H10.3118C10.4631 0 10.6074 0.0533261 10.738 0.146647C10.8807 0.255663 10.9731 0.415012 10.995 0.589873C11.0169 0.764735 10.9665 0.940892 10.8549 1.07985L7.56221 5.16597V11.2518Z" fill="#015C5C"/>
                        </svg>
                        Filter</button>
                        <button id="addNewAddress" class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                    </div>
                </div>
                <table class="view">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Type</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Business Phone</th>
                            <th>Business Email</th>
                            <th><svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.16124 8.62718L2.11823 13.1436C2.08593 13.2804 2.09563 13.4237 2.14605 13.5548C2.19647 13.686 2.28528 13.7989 2.40087 13.8788C2.51646 13.9587 2.65346 14.0019 2.79398 14.0028C2.9345 14.0036 3.072 13.962 3.18854 13.8835L7.00006 11.3425L10.8116 13.8835C10.9308 13.9627 11.0714 14.0034 11.2145 14.0003C11.3576 13.9972 11.4963 13.9503 11.612 13.866C11.7276 13.7816 11.8147 13.6639 11.8614 13.5287C11.9082 13.3934 11.9124 13.247 11.8735 13.1093L10.5932 8.62928L13.7684 5.77186C13.8701 5.68029 13.9427 5.56092 13.9773 5.42852C14.0119 5.29611 14.0069 5.15647 13.9629 5.02688C13.919 4.89728 13.838 4.7834 13.73 4.69933C13.6221 4.61526 13.4918 4.56468 13.3554 4.55385L9.36467 4.23605L7.63776 0.413329C7.5827 0.290238 7.49319 0.185713 7.38003 0.11237C7.26687 0.0390266 7.13491 0 7.00006 0C6.86521 0 6.73325 0.0390266 6.62009 0.11237C6.50693 0.185713 6.41742 0.290238 6.36235 0.413329L4.63544 4.23605L0.644722 4.55315C0.51064 4.56378 0.382457 4.6128 0.275508 4.69437C0.16856 4.77593 0.087374 4.88658 0.0416638 5.01308C-0.00404629 5.13957 -0.0123452 5.27656 0.0177599 5.40765C0.0478651 5.53874 0.1151 5.65838 0.21142 5.75226L3.16124 8.62718Z" fill="#787878"/>
                                </svg>
                            </th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1234 Fake St.</td>
                            <td>Head Office</td>
                            <td>Orillia</td>
                            <td>ON</td>
                            <td>(705) 777-5555</td>
                            <td>fakestreet@clientsdomain.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>18903 Reallylongstreetname Blvd.</td>
                            <td>Branch</td>
                            <td>Victoria</td>
                            <td>BC</td>
                            <td>(705) 777-5555</td>
                            <td>reallylongname@clientsname.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>1234 Fake St.</td>
                            <td>Owner</td>
                            <td>Rochester</td>
                            <td>NY</td>
                            <td>(705) 777-5555</td>
                            <td>jack.campbell@thetruckingco.com</td>
                            <td class="actionIcon star"></td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>                 
        </div>
    </div>
</div>

<!-- common javascript -->
<script src='/js/components/inputError.js' ></script>
<!-- Page only Javascript -->
<script src="/js/clientScreens/clientContacts.js"></script>