@use '../base' as *;
@use '../abstracts' as *;


@mixin btnDefault($bg-color, $color:$text-on-primary) {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-color;
    color: $color;
    border-radius: $default-radius;
    border: none;
    font-weight: 400;
    font-size: 12px;
    padding: 8px 16px;
}

//Button Styles

//Button Icon Margin
button, input[type='submit']{
    img,svg{
        margin-right: 4px;
    }
    img.icon-right{
        margin-left: 4px
    }
}

//Button Primary
.btnPrimary{
    @include btnDefault($action-primary-default);
}

.btnPrimary:hover{
    background: $action-primary-hovered;
}

.btnPrimary:active{
    background: $action-primary-pressed;
}

//Button Secondary
.btnSecondary{
    @include btnDefault($action-secondary-default, $text-default);
}

.btnSecondary:hover{
    background: $action-secondary-hovered;
}

.btnSecondary:active{
    background: $action-secondary-pressed;
}

//Button Critical
.btnCritical{
    @include btnDefault($action-critical-default);
}

.btnCritical:hover{
    background: $action-critical-hovered;
}

.btnCritical:active{
    background: $action-critical-pressed;
}

.btnLink:hover{
    color: $text-hover;
}

.btnLink:active{
    color: $action-critical-pressed;
}

//disabled
button:disabled, button:disabled:hover, button:disabled:active,
input[type='submit']:disabled, input[type='submit']:disabled:hover, input[type='submit']:disabled:active{
    background: $action-primary-disabled;
    color: $text-subdued;
}

//Button Container
.btnContainer{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button.wide{
    padding: 8px 31px;
}

