@use '../abstracts' as *;

.cardContainer{
    max-width: 1856px;
    margin: 0 0px;
    padding-right:20px;
    flex-direction: column;
    flex: 1;
}

.cardRow{
    min-width:1183px;
}

.card{
   @include default-card;
   padding: 20px 24px 24px 24px;
   h4, h5{
    margin-top: 4px;
   }
    .c-head{
        display: flex;
        justify-content: space-between;
        align-items: start;
        h4, h5{
            margin-bottom: 20px;
        }
        button{
            margin-bottom:16px;
        }
    }
    .c-foot{
        display: flex;
        justify-content: end;
        button{
            margin-top:24px;
        }
    }
    
}

.card-sm{
    @include default-card(0);
    h4, h5{
        margin-top: 4px;
       }
        .c-head{
            display: flex;
            justify-content: space-between;
            align-items: start;
            h4, h5{
                margin-bottom: 20px;
            }
            button{
                margin-bottom:16px;
            }
        }
        .c-foot{
            display: flex;
            justify-content: end;
            button{
                margin-top:24px;
            }
        }
}

.clientCard{
    @extend .card;
    min-height: 284px;
    margin-top: 0px;
    padding: 20px;
    position: relative;
    .c-head{
        h5{
            margin-bottom: 0px;
        }
        .alignLeft{
            display: flex;
            flex-direction: column;
        }
        .dbaName{
            display: flex;
            align-items: baseline;
            gap: 4px;
        }
        button{
            padding: 8px 27px;
        }
    }
    .c-body{
        padding-bottom: 32px;
    }
    .c-foot{
        nav{
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            width: inherit;
            border-top: 1px solid $border-navigation;
            ul{
                display:flex;
                gap:72px;
                list-style-type: none;
                margin:0;
                padding: 17px 24px 0px 20px;
                text-indent: 0;
                li{
                    @include nav-text($text-subdued);
                    padding-bottom: 16px;
                }
                li.active-tab{
                    @include clientNav-active;
                    svg{
                        path{
                            fill: $text-default;
                        }
                    }   
                }
                li:hover, li:focus{
                   @include clientNav-active;
                   color: $text-hover;
                   svg{
                       path{
                           fill: $icon-hovered;
                       }
                   }
                }
                li:last-child{
                    position: absolute;
                    right:24px;
                }
            } 
        }
    }
    h5, h6{
        color:$text-subdued;
    }
    .breadcrumbs{
        align-items: center;
        font-size:12px;
        margin-bottom: 8px;
        color: $text-subdued;
        img{
            margin:auto 7px;
        }
        span{
            cursor: pointer;
        }
        span:last-child{
            color:$text-default;
        }
        a{
            text-decoration: none;
        }
        a:hover{
            color: $text-hover;
        }
    }
}



.clientInfo{
    display: grid;
    grid-template-columns: repeat(5, 1fr) 120px;
    grid-template-rows: repeat(2, 1fr);
    justify-content: stretch;
    margin: 16px 0;
    h6{
        margin-bottom: 4px;
    }
    p{
        @include body-text;
    }
}

.fill-height{
    display: flex;
    flex-direction: column;  
}

.currencyGrid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
