@use '../abstracts/' as *;
//margins
.mt-24{
    margin-top: 24px;
}

.mb-24{
    margin-bottom: 24px;
}

.my-24{
    margin: 24px 0;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-16{
    margin-bottom: 16px;
}

.gap-16{
    gap:16px;
}

//avatar

.avatarContainer{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
}
.avatarContainerLg{
    @extend .avatarContainer;
    height: 40px;
    width:40px;
}
.avatar {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

//navigation
nav{
    li{
        list-style-type: none;
        margin:0;
        padding: 0;
        text-indent: 0;
        cursor: pointer;
    }
}

//flex
.no-flex{
    flex: none;
}

//links
a, a:visited{
    color: $text-default;
    text-decoration: underline;
}
a:hover, a:focus{
    color: $text-hover;
}


.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-20 {
    gap: 20px;
}

.center-y {
    align-items: center;
    display: flex;
}

//hide anything
.hide{
    display:none;
}

