@use "../base" as *;
@use '../abstracts' as *;


//forms and inputs
//hide native cal icon
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::placeholder ,input::placeholder{
    color: $text-default;
}

label{
    @include caption;
    color: $text-default;
}

input, select{
    // disable native input styles
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;

    &:focus {
        @include input-focus-shadow;
        }
}

textarea{
    padding-top:8px;
    &:focus {
        @include input-focus-shadow;
        }
}

input:not([type="checkbox"], [type='submit']), select{
    border: 1px solid $border-default;
    border-radius: $default-radius;
    padding-left: 12px;
    height:32px;
    @include caption;
    color: $text-default;
    
}

//disabled
input:disabled, select:disabled{
    background-color: $surface-subdued;
    border-color: $border-disabled;
    color: $text-disabled;
}

input:disabled::placeholder, select:disabled::placeholder{
    color: $text-disabled;
}

//error
body{
    input.error, select.error{
    border-color: $border-critical-default;
    background-color: $surface-critical-subdued;
}
}
.errorMsg{
    @include caption;
    color: $text-critical;
    margin-top: 6px;
    padding-left: 24px;
    background-image: url(/img/Assets/alertMinor.svg);
    background-repeat: no-repeat;
    background-position: 0px;
    position: absolute;
    bottom: -20px;

}

//checkbox styles
input[type="checkbox"]{
    margin-top:0px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center;
    &:focus {
        @include input-focus-shadow;
        }
}

input[type="checkbox"]:hover:not(:checked){
    border-color: $border-hovered;
}

input[type="checkbox"]:disabled{
    background-color: $surface-subdued;
    border-color: $border-disabled;
}

input[type="checkbox"]{
    background-color: $surface-subdued;
    border-color: $border-disabled;
}

div.form-check{
    display: flex;
    flex-direction: row;
    gap:9px;
    align-items: center;
    label{
        margin-bottom: 0;
    }
}

form.just-checks{
    gap:72px;
}

// basic form styles
form{
    div{
        position: relative;
    }
}
form:not(.form-compliance){
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    div:not(.form-check){
        flex:1;
        display: flex;
        flex-direction: column;
    }
    label{
        margin-bottom: 4px;
    }
}

// form styles
.form-select {
    display: block;
    width: 100%;
    padding: 8 12px;
    @include caption;
    color: $text-default;
    border-radius: $default-radius;
    background-color: $surface-default;
    border: 1px solid $border-default;
    background-color: $surface-default;
    background-image: escape-svg($form-select-icon);
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 16px;
    &:focus {
        @include input-focus-shadow;
        }
}
input.form-search {
    @extend .form-select;
    padding: 0 36px;
    background-color: $surface-default;
    background-image: escape-svg($form-search-icon);
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 14px;
}
input.form-date {
    @extend .form-select;
        background-color: $surface-default;
        background-image: escape-svg($form-date-icon);
        background-size: 16px;
    }


//form grids
.form-grid.col2{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    input, select{
        min-width: 547px;
    }
}

.form-grid.col3{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    input, select{
        min-width: 0px;
    }
}

.form-grid.col5{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    input, select{
        min-width: 0px;
    }
}
textarea {
    resize: none;
}