@use '../base' as *;
@use '../abstracts' as *;

//Action Icons
.actionIcon{
    cursor: pointer;
    path{
    fill: $icon-default;
    stroke: $icon-default;
    }
}

.actionIcon:hover{
    path{
    fill: $icon-hovered;
    stroke: $icon-hovered;
    }
}

.actionIcon:active{
    path{
    fill: $icon-pressed;
    stroke: $icon-pressed;
    }
}

.star{
    background-image: escape-svg($star-icon);
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left:12px;
    
}

.star:hover{
    background-image: escape-svg($star-icon-hovered);
    background-repeat: no-repeat;
}

.star.pressed{
    background-image: url(/img/Assets/starIconHovered.svg);
    background-repeat: no-repeat;
}

td.star{
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left:12px;
    &:hover{
        background-position: left;
    }
    &:active{
        background-position: left;
    }
}

button.star{
    background-position: center;
    &:hover{
        background-position: center;
    }
    &:active{
        background-position: center;
    }
}

//websiteIcon
.websiteIcon {
    position: relative;
    top: 2px;
    left: 301px;
    cursor:default;
  }
  .websiteIcon.active{
    cursor:pointer;
    path{
      fill:$icon-hovered;
    }
    &:active{
        path{
        fill:$icon-pressed;
        }
    }
  }

.websiteLink{
    bottom:0;
    width:0;
    height:32px;
}