@use '../abstracts' as *;

table {
    border-collapse: collapse;
    width: 100%;

    //table input styles
    input:not([type="checkbox"]), select{
    border: 1px solid $border-default;
    border-radius: $default-radius;
    padding-left: 12px;
    min-width: 497px;
    height:32px;
    @include caption;
    } 
}

th{
    background-color: $background-default;
    @include subheading;
}

td{
    @include caption;
    height:40px;
    img{
        cursor:pointer;
    }
}

th, td {
    text-align: left;
    padding: 8px 12px;
}

tr:nth-child(odd) {
    background-color: $surface-default;
}

tr:nth-child(even) {
    background-color: $surface-subdued;
}

table.noHead{
    tr:nth-child(even) {
        background-color: $surface-default;
    }
    
    tr:nth-child(odd) {
        background-color: $surface-subdued;
    }
}

.align-center{
    text-align:center;
    justify-items: center;
}

.align-left{
    text-align:left;
    justify-items: start;
}

.align-right{
    text-align:right;
    justify-items:end;
}

.active{
    color: $text-success;
}

.pin{
    display: flex;
    justify-content: space-between;
    width: 86px;
    img{
        align-self: center;
    }
}

.tr-total{
    border-top: 1px solid $border-default;
    td, th{
        padding-bottom: 24px;
    }
}

//table alignment
table.accountActivity{
    th:nth-child(n+5), td:nth-child(n+5){
        @extend .align-right;
    }
}

table.fuelCards{
    th:last-child, td:last-child{
        @extend .align-center;
    }
}

table.factoringAccounts{
    th:nth-child(n+3):nth-child(-n+6),
    td:nth-child(n+3):nth-child(-n+6){
        @extend .align-right;
    }
    th:last-child, td:last-child{
        @extend .align-center;
    }
}

table.accountSummary{
    th:nth-child(n+2), td:nth-child(n+2){
        @extend .align-right;
    }
}

table.loanAccounts{
    th:nth-child(3),th:nth-child(n+5):nth-child(-n+8),
    td:nth-child(3),td:nth-child(n+5):nth-child(-n+8){
        @extend .align-right;
    }
    th:last-child, td:last-child{
        @extend .align-center;
    }
}

table.balance{
    th:nth-child(1), td:nth-child(1){
        width: 75%;
    }
}

table.view{
    th:last-child, td:last-child{
        @extend .align-center;
        width: 76px;
    }
}

table.visaCards{
th:nth-child(3), td:nth-child(3){
    @extend .align-right;
    }  
}

//column alignment
table.align-right.col2{
    th:nth-child(2), td:nth-child(2){
        @extend .align-right;
        }  
    }

table.align-right.col3{
    th:nth-child(3), td:nth-child(3){
        @extend .align-right;
        }  
    }

table.align-right.col5{
    th:nth-child(5), td:nth-child(5){
        @extend .align-right;
        }  
    }    
    
table.align-right.col4{
th:nth-child(4), td:nth-child(4){
    @extend .align-right;
    }  
}

table.align-right.col6{
    th:nth-child(6), td:nth-child(6){
        @extend .align-right;
        }  
    }