@use "../../abstracts" as *;
.addEditContainer {
  .firstInputMargin {
    margin-bottom: 20px;
  }

  .bankFormContainer {
    width: 330px;
    height: 140px;
  }

  form.bankFormContainer {
    flex-wrap: nowrap;
  }

  // .specialInstructionsBorder {
  //   border-bottom: 1px solid $border-navigation;
  //   padding: 0 0 32px 0;
  //   margin-bottom: 32px;
  // }

  // .lastFormContainer {
  //   margin: 16px 0 32px 0;
  //   width: 100%;
  //   padding: 0 0 32px 0;
  //   // border-bottom: 1px solid $border-navigation;
  // }

  .userDateInput {
    width: 330px;
  }
}

