@use "../../abstracts" as *;

.addEditContainer {

  div.fullWidth {
    width: 100%;
  }

  input.halfWidth,
  div.halfWidth {
    width: 330px;
  }

  // form.addCompliance {
  //   gap: 20px;
  //   margin: 32px 0;
  //   padding-bottom: 32px;
  //   border-bottom: 1px solid $border-navigation;
  // }

  .datePicker {
    stroke: $icon-subdued;
    height: 16px;
    width: 16px;
    position: relative;
    bottom: 24px;
    left: 306px;
  }

  .dateInput:hover {
    .datePicker {
      stroke: $icon-hovered;
    }
  }

  .dateInput:active {
    .datePicker {
      stroke: $icon-pressed;
    }
  }
}