@use '../abstracts' as *;
// Overrides

// margin reset
$grid-gutter-width: 0px;

//forms

//checkbox
$form-check-input-checked-color:          $icon-on-critical;
$form-check-input-checked-bg-color:       $action-critical-default;
$form-check-input-focus-border:           none;
$form-check-input-focus-box-shadow:       none;

$form-check-input-width:                  18px;
$form-check-min-height:                   18px;
$form-check-padding-start:                $form-check-input-width + 9px;
$form-check-margin-bottom:                .125rem;
$form-check-label-color:                  null;
$form-check-label-cursor:                 null;
$form-check-transition:                   null;

$form-check-input-active-filter:          brightness(90%);

$form-check-input-bg:                     $surface-default;
$form-check-input-border:                 1px solid $border-default;
$form-check-input-border-radius:          2px;
$form-check-radio-border-radius:          50%;
$form-check-input-focus-border:           none;
$form-check-input-focus-box-shadow:       none;




// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";