<div id="clientVisaPage" class="container-fluid cardContainer">
    <div class="row">
        <div class="col">
            <div class="clientCard">
                <div class="c-head">
                    <div class="alignLeft">
                        <div class="breadcrumbs">
                            <span><a>My Workspace</a></span>
                            <img src="/img/Assets/chevronRight.svg">
                            <span>Client</span>
                        </div>
                        <div class="clientName">
                            <div class="dbaName">
                                <h3>Landstar Trucking Toronto Depot</h3>
                                <h5>10015</h5>
                            </div>
                            <div class="legalName">
                                <h6>LEGAL NAME: 1009456 Canada Inc.</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btnPrimary">Add Case</button>
                </div>
                <div class="c-body">
                    <div class="clientInfo">
                        <div>
                            <h6>Office:</h6>
                            <p>Orillia</p>
                        </div>
                        <div>
                            <h6>Account Manager:</h6>
                            <p>Eve Clipse</p>
                        </div>
                        <div>
                            <h6>Signed Date:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Language:</h6>
                            <p>EN</p>
                        </div>
                        <div>
                            <h6>Status:</h6>
                            <p>Active</p>
                        </div>
                        <div>
                            <h6>Sub-status:</h6>
                            <p>Collect Out</p>
                        </div>
                        <div>
                            <h6>Motor Carrier #:</h6>
                            <p>7654321</p>
                        </div>
                        <div>
                            <h6>D.O.T. #:</h6>
                            <p>343423</p>
                        </div>
                        <div>
                            <h6>First Funded:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Common Authority:</h6>
                            <p>None</p>
                        </div>
                        <div>
                            <h6>Contract Authority:</h6>
                            <p>Inactive</p>
                        </div>
                        <div>
                            <h6>Broker Authority:</h6>
                            <p>Active</p>
                        </div>
                    </div>
                </div>
                <div class="c-foot">
                    <nav>
                        <ul>
                            <li id="clientAccounts">Accounts</li>
                            <li id="clientSummary">Summary</li>
                            <li id="clientContacts">Contacts</li>
                            <li id="clientFuel">Fuel</li>
                            <li id="clientVisa" class="active-tab">Visa</li>
                            <li id="clientVendors">Vendors</li>
                            <li id="clientLogs">Logs</li>
                            <li id="clientDocs">Documents</li>
                            <li id="clientCases">Cases</li>
                            <li id="clientSettings"><img src="/img/Assets/settingsIcon.svg"></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>VISA Cards</h5>
                    <button class="btnSecondary"><svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.56221 11.2518C7.58971 11.4518 7.52097 11.6651 7.36287 11.8051C7.29927 11.8669 7.22373 11.9159 7.14058 11.9493C7.05742 11.9828 6.96827 12 6.87825 12C6.78822 12 6.69907 11.9828 6.61592 11.9493C6.53276 11.9159 6.45722 11.8669 6.39363 11.8051L3.63713 9.13209C3.56216 9.06103 3.50516 8.9741 3.47057 8.87813C3.43599 8.78215 3.42477 8.67972 3.43779 8.57884V5.16597L0.145116 1.07985C0.0334875 0.940892 -0.0168817 0.764735 0.005015 0.589873C0.0269117 0.415012 0.119294 0.255663 0.261975 0.146647C0.392582 0.0533261 0.536937 0 0.688166 0H10.3118C10.4631 0 10.6074 0.0533261 10.738 0.146647C10.8807 0.255663 10.9731 0.415012 10.995 0.589873C11.0169 0.764735 10.9665 0.940892 10.8549 1.07985L7.56221 5.16597V11.2518Z" fill="#015C5C"/>
                    </svg></img>Filter</button>
                </div>
                <table class="visaCards view">
                    <thead>
                        <tr>
                            <th>CARDHOLDER NAME</th>
                            <th>CARD ORDERED</th>
                            <th>SPENT THIS MONTH</th>
                            <th>SPENDING CONTROL</th>
                            <th>CARD STATUS</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Latanya Cherry - 4320</td>
                            <td>2021-11-15</td>
                            <td>$2,350.00</td>
                            <td>$5,000.00 / Month</td>
                            <td class="textSuccess">Active</td>
                            <td id="openVisaDetails" class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Shawn Gwynn - 0563</td>
                            <td>2021-11-15</td>
                            <td>$1,300.00</td>
                            <td>$1,270.00 / Month</td>
                            <td class="textCritical">Inactive</td>
                            <td id="openVisaDetails" class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>John Mora - 9384</td>
                            <td>2021-11-15</td>
                            <td>$2,200.00</td>
                            <td>$90,175.00 / Month</td>
                            <td class="textCritical">Inactive</td>
                            <td id="openVisaDetails" class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Example Client - 1234</td>
                            <td>2021-11-15</td>
                            <td>$10,050.00</td>
                            <td>$910.09 / Month</td>
                            <td class="textCritical">Inactive</td>
                            <td id="openVisaDetails" class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Example Client Two - 4321</td>
                            <td>2021-11-15</td>
                            <td>$2,420.00</td>
                            <td>$12,013.10 / Month</td>
                            <td class="textCritical">Inactive</td>
                            <td id="openVisaDetails" class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                    </tbody>
                </table>
                <div class="c-foot">
                    <button class="btnSecondary">Load More<img class="icon-right" src="/img/Assets/moreIcon.svg"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page only Javascript -->
<script src="/js/clientScreens/clientVisa.js"></script>