<div id="visaDetail" class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">Latanya Cherry - 4320</h2>
    </div>
    <div class="col-4 contentEnd">
      <div class="flexRow gap-8 center-y">
        <label class="panelStatus" for="status">Status:</label>
        <input name="status" class="statusIndicator" id="" placeholder="Active" disabled>

      </div>
    </div>
  </div>
  <div class="mb-32">
    <div class="panelHeading heading">Spent this Month:</div>
    <div class="displayS">$822.89</div>
  </div>
  <h5 class="mb-16">Spending Controls</h5>
  <div class="table-1 mb-32 formBreak">
    <table class="" id="spendingControls">
      <thead>
        <tr>
          <th>INTERNAL</th>
          <th>DOLLAR AMOUNT</th>
          <th>CATEGORIES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Month</td>
          <td>$2,350.00</td>
          <td>All Categories</td>
        </tr>
      </tbody>
    </table>
  </div>
    <h5 class="mb-16">Recent Activity</h5>
    <table class="" id="recentActivity"> 
      <thead>
        <th>MERCHANT</th>
        <th>DATE</th>
        <th>CATEGORY</th>
        <th>DOLLAR AMOUNT</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>LANDSTAR INWAY - FLA</td>
        <td>2021-11-15</td>
        <td>Real Estate Agents & Manage...</td>
        <td>$2,350.00</td>
        <td class="textSuccess">Captured</td>
      </tr>
      <tr>
        <td>LANDSTAR INWAY - FLA</td>
        <td>2021-11-15</td>
        <td>10017</td>
        <td>$1,300.00</td>
        <td class="textSuccess">Captured</td>
      </tr>
      <tr>
        <td>Crossroads Logistics</td>
        <td>2021-11-15</td>
        <td>14543</td>
        <td>$2,200.00</td>
        <td class="textSuccess">Captured</td>
      </tr>
      <tr>
        <td>Crossroads Carriers LLC</td>
        <td>2021-11-15</td>
        <td>13464</td>
        <td>$10,050.00</td>
        <td class="textSuccess">Captured</td>
      </tr>
    </tbody>
  </table>
  <div class="p-foot">
    <button class="btnSecondary">Load More<img class="icon-right" src="/img/Assets/moreIcon.svg"></button>
  </div>
</div>