@use "../../abstracts" as *;

#visaDetail {


  #spendingControls {
    th:nth-of-type(1) {
      width: 209px;
    }
    th:nth-of-type(2) {
      width: 223px;
    }
    th:nth-of-type(3) {
      width: 248px
    }
  }



  #recentActivity {
    th:nth-of-type(1) {
      width: 192px;
    }
    th:nth-of-type(2) {
      width: 91px;
    }
    th:nth-of-type(3) {
      width: 172px;
      padding: 8px 2px;
    }
    td:nth-of-type(3) {
      padding: 8px 2px;
    }
    th:nth-of-type(4) {
      width: 109px;
      padding: 8px 2px;
    }
    td:nth-of-type(4) {
      text-align: right;
    }
    th:nth-of-type(5) {
      width: 116px;
    }    
  }

  .statusIndicator {
    width: 130px;
    background-color: #FAFBFB;
    border: 1px solid $border-disabled;
  };

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $text-subdued;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $text-subdued;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $text-subdued;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $text-subdued;
  }
}

