<div class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle mb-32">Add New Compliance for &ltClient Name&#62</h2>
    </div>
    <form action="" class="addCompliance">
      <div class="fullWidth">
        <label for="PolicyType">Policy Type:</label>
        <input class="halfWidth form-select" id="PolicyType">
      </div>
      <div class="halfWidth">
        <label for="Name">Name:</label>
        <input id="Name">
      </div>
      <div class="halfWidth">
        <label for="Policy">Policy #:</label>
        <input id="Policy">
      </div>
      <div class="halfWidth">
        <label for="StartDate">Start Date:</label>
        <div class="dateInput">
          <input type="date" id="StartDate" class='form-date'>
        </div>
      </div>
      <div class="halfWidth">
        <label for="ExpiryDate">Expiry Date:</label>
        <div class="dateInput">
          <input type="date" id="ExpiryDate" class="form-date">
        </div>
      </div>
      <div class="fullWidth">
        <label for="Amount">Amount:</label>
        <input class="halfWidth" id="Amount">
      </div>
      <div class="fullWidth">
        <label for="ContactName">Contact Name:</label>
        <input id="ContactName">
      </div>
      <div class="halfWidth">
        <label for="ContactNumber">Contact Number:</label>
        <input id="ContactNumber">
      </div>
      <div class="halfWidth">
        <label for="ContactEmail">Contact Email:</label>
        <input id="ContactEmail" class="emailInput">
      </div>
      <div class="formBreak fullWidth">
        <label for="notes">Notes:</label>
        <input id="notes" class="panelNotes">
      </div>
    </form>
    <div class="panelBtnContainer flexRow gap-8">
      <button id="save" class="btnPrimary wide">Save</button>
      <button id="cancel" class="btnSecondary">Cancel</button>
    </div>
  </div>
</div>