<div class="addEditContainer">
  <div class="row center-y panelTitleContainer">
    <div class="col-8 flexRow">
      <h2 class="panelTitle">Add New Bank for &ltClient Name&#62</h2>
    </div>
    <div class="col-4 contentEnd">
      <div class="flexRow gap-8 center-y">
        <label class="panelStatus" for="status">Status:</label>
        <select name="status" class="form-select statusSelector" id="">
          <option></option>
        </select>
      </div>
    </div>
  </div>
  <form action="" class="">
    <div class="fullWidth">
      <label class="" for="BankName">Bank Name:</label>
      <input class="fullWidthInput" id="BankName">
    </div>
    <div class="halfWidth">
      <label class="" for="AccountNumber">Account Number:</label>
      <input class="fullWidthInput" id="AccountNumber">
    </div>
    <div class="halfWidth">
      <label for="Routing">Routing #:</label>
      <input id="Routing">
    </div>
    <div class="halfWidth">
      <label class="" for="PayBy:">Pay By:</label>
      <select class="form-select" id="PayBy">
        <option></option>
      </select>
    </div>
    <div class="halfWidth">
      <label for="Currency">Currency:</label>
      <select id="Currency" class="form-select"></select>
    </div>
    <div class="formBreak fullWidth">
      <label>Special Instructions</label>
      <textarea type="text" class="panelNotes" placeholder="..."></textarea>
    </div>
    <div class="panelHeading heading">Inactive</div>
    <div class="flexRow gap-20 formBreak">
      <div class="flexColumn">
        <label>User:</label>
        <input class="userDateInput">
      </div>
      <div class="flexColumn">
        <label>Date:</label>
        <input type="date" class="userDateInput">
      </div>
    </div>
  </form> 
    <div class="flexRow gap-8 panelBtnContainer">
      <button id="save" class="btnPrimary wide">Save</button>
      <button id="cancel" class="btnSecondary">Cancel</button>
    </div>
</div>