<div id="clientSettingsScreen" class="container-fluid cardContainer">
    <div class="row">
        <div class="col">
            <div class="clientCard">
                <div class="c-head">
                    <div class="alignLeft">
                        <div class="breadcrumbs">
                            <span><a>My Workspace</a></span>
                            <img src="/img/Assets/chevronRight.svg">
                            <span>Client</span>
                        </div>
                        <div class="clientName">
                            <div class="dbaName">
                                <h3>Landstar Trucking Toronto Depot</h3>
                                <h5>10015</h5>
                            </div>
                            <div class="legalName">
                                <h6>LEGAL NAME: 1009456 Canada Inc.</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btnPrimary">Add Case</button>
                </div>
                <div class="c-body">
                    <div class="clientInfo">
                        <div>
                            <h6>Office:</h6>    
                            <p>Orillia</p>
                        </div>
                        <div>
                            <h6>Account Manager:</h6>
                            <p>Eve Clipse</p>
                        </div>
                        <div>
                            <h6>Signed Date:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Language:</h6>
                            <p>EN</p>
                        </div>
                        <div>
                            <h6>Status:</h6>
                            <p>Active</p>
                        </div>
                        <div>
                            <h6>Sub-status:</h6>
                            <p>Collect Out</p>
                        </div>
                        <div>
                            <h6>Motor Carrier #:</h6>
                            <p>7654321</p>
                        </div>
                        <div>
                            <h6>D.O.T. #:</h6>
                            <p>343423</p>
                        </div>
                        <div>
                            <h6>First Funded:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Common Authority:</h6>
                            <p>None</p>
                        </div>
                        <div>
                            <h6>Contract Authority:</h6>
                            <p>Inactive</p>
                        </div>
                        <div>
                            <h6>Broker Authority:</h6>
                            <p>Active</p>
                        </div>
                    </div>
                </div>
                <div class="c-foot">
                    <nav>
                        <ul>
                            <li id="clientAccounts">Accounts</li>
                            <li id="clientSummary">Summary</li>
                            <li id="clientContacts">Contacts</li>
                            <li id="clientFuel">Fuel</li>
                            <li id="clientVisa">Visa</li>
                            <li id="clientVendors">Vendors</li>
                            <li id="clientLogs">Logs</li>
                            <li id="clientDocs">Documents</li>
                            <li id="clientCases">Cases</li>
                            <li id="clientSettings" class="active-tab"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.089 10.5444V10V9.44844L19.5015 8.24503C19.7619 8.02158 19.9328 7.7157 19.9839 7.38144C20.0351 7.04719 19.9632 6.7061 19.7811 6.41843L18.0448 3.55318C17.9158 3.33561 17.7303 3.15489 17.5069 3.02917C17.2835 2.90344 17.0301 2.83712 16.772 2.83686C16.6121 2.83567 16.4531 2.85987 16.3012 2.9085L14.5134 3.49587C14.2048 3.29617 13.8828 3.1167 13.5496 2.95864L13.1744 1.15353C13.1072 0.823741 12.9229 0.527499 12.6539 0.316661C12.3849 0.105822 12.0483 -0.00617905 11.703 0.000263196H8.25991C7.91464 -0.00617905 7.57804 0.105822 7.30904 0.316661C7.04004 0.527499 6.85577 0.823741 6.78849 1.15353L6.41328 2.95864C6.07775 3.11666 5.75333 3.29613 5.44215 3.49587L3.69117 2.87984C3.53762 2.84089 3.37862 2.82638 3.22031 2.83686C2.96228 2.83712 2.70886 2.90344 2.48546 3.02917C2.26207 3.15489 2.07655 3.33561 1.94754 3.55318L0.211271 6.41843C0.0395469 6.70567 -0.0242649 7.0421 0.0307642 7.3701C0.0857933 7.69811 0.256239 7.99728 0.51291 8.21638L1.9034 9.4556V10.5516L0.51291 11.755C0.248989 11.9756 0.0738812 12.2801 0.0186614 12.6145C-0.0365585 12.9489 0.0316813 13.2915 0.211271 13.5816L1.94754 16.4468C2.07655 16.6644 2.26207 16.8451 2.48546 16.9708C2.70886 17.0966 2.96228 17.1629 3.22031 17.1631C3.38022 17.1643 3.53925 17.1401 3.69117 17.0915L5.47893 16.5041C5.78759 16.7038 6.10956 16.8833 6.44271 17.0414L6.81792 18.8465C6.8852 19.1763 7.06946 19.4725 7.33847 19.6833C7.60747 19.8942 7.94407 20.0062 8.28933 19.9997H11.7619C12.1071 20.0062 12.4437 19.8942 12.7127 19.6833C12.9817 19.4725 13.166 19.1763 13.2333 18.8465L13.6085 17.0414C13.944 16.8833 14.2684 16.7039 14.5796 16.5041L16.36 17.0915C16.512 17.1401 16.671 17.1643 16.8309 17.1631C17.0889 17.1629 17.3423 17.0966 17.5657 16.9708C17.7891 16.8451 17.9747 16.6644 18.1037 16.4468L19.7811 13.5816C19.9528 13.2943 20.0166 12.9579 19.9616 12.6299C19.9066 12.3019 19.7361 12.0027 19.4794 11.7836L18.089 10.5444ZM16.772 15.7305L14.2486 14.8996C13.6578 15.3868 12.9827 15.7676 12.2548 16.0242L11.7324 18.5958H8.25991L7.73755 16.0529C7.0154 15.7889 6.34392 15.4088 5.75114 14.9282L3.22031 15.7305L1.48404 12.8653L3.48517 11.1461C3.34913 10.4046 3.34913 9.64553 3.48517 8.90404L1.48404 7.13475L3.22031 4.26949L5.74379 5.10042C6.33451 4.61325 7.00965 4.23243 7.73755 3.9758L8.25991 1.40424H11.7324L12.2548 3.94715C12.9769 4.21106 13.6484 4.59122 14.2412 5.07176L16.772 4.26949L18.5083 7.13475L16.5072 8.8539C16.6432 9.59538 16.6432 10.3545 16.5072 11.096L18.5083 12.8653L16.772 15.7305Z" fill="#787878"/>
                                <path d="M9.99628 14.2979C9.12322 14.2979 8.26977 14.0458 7.54385 13.5736C6.81794 13.1013 6.25215 12.4301 5.91805 11.6448C5.58394 10.8594 5.49653 9.99526 5.66685 9.16156C5.83718 8.32785 6.25759 7.56204 6.87493 6.96097C7.49228 6.3599 8.27882 5.95057 9.1351 5.78473C9.99138 5.6189 10.8789 5.70401 11.6855 6.02931C12.4921 6.3546 13.1815 6.90547 13.6666 7.61226C14.1516 8.31904 14.4105 9.14999 14.4105 10C14.4164 10.566 14.3063 11.1275 14.0865 11.6515C13.8668 12.1756 13.5419 12.6517 13.1308 13.0519C12.7197 13.4521 12.2307 13.7685 11.6925 13.9825C11.1543 14.1964 10.5776 14.3037 9.99628 14.2979V14.2979ZM9.99628 7.13478C9.60734 7.12596 9.22061 7.19404 8.85947 7.33491C8.49834 7.47578 8.1703 7.68651 7.89521 7.95435C7.62011 8.22219 7.40368 8.54158 7.259 8.8932C7.11431 9.24481 7.04439 9.62135 7.05345 10C7.04439 10.3787 7.11431 10.7553 7.259 11.1069C7.40368 11.4585 7.62011 11.7779 7.89521 12.0457C8.1703 12.3136 8.49834 12.5243 8.85947 12.6652C9.22061 12.806 9.60734 12.8741 9.99628 12.8653C10.3852 12.8741 10.7719 12.806 11.1331 12.6652C11.4942 12.5243 11.8223 12.3136 12.0973 12.0457C12.3724 11.7779 12.5889 11.4585 12.7336 11.1069C12.8782 10.7553 12.9482 10.3787 12.9391 10C12.9482 9.62135 12.8782 9.24481 12.7336 8.8932C12.5889 8.54158 12.3724 8.22219 12.0973 7.95435C11.8223 7.68651 11.4942 7.47578 11.1331 7.33491C10.7719 7.19404 10.3852 7.12596 9.99628 7.13478Z" fill="#787878"/>
                                </svg>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Key Information</h5>
                    <button class="btnSecondary"><img src="/img/Assets/editIcon-pressed.svg">Edit</button>
                </div> 
                <form class="form-grid col5">
                    <div>
                        <label for="client_KA">Client (Known As)</label>
                        <input type="text" id="client_KA">
                    </div>
                    <div>
                        <label for="legalName">Legal Name</label>
                        <input type="text" id="legalName">
                    </div>
                    <div>
                        <label for="office">Office</label>
                        <select class="form-select" id="office">
                        </select>
                    </div>
                    <div>
                        <label for="status">Status</label>
                        <select class="form-select" id="status">
                        </select>
                    </div>
                    <div>
                        <label for="subStatus">Sub Status</label>
                        <select class="form-select" id="subStatus">
                        </select>
                    </div>
                    <div>
                        <label for="client_KA">Language</label>
                        <input type="text" id="client_KA">
                    </div>
                    <div>
                        <label for="legalName">Signed Date</label>
                        <input class="form-date" type="date" id="signedDate">
                    </div>
                    <div>
                        <label for="motorCarrierNum">Motor Carrier #</label>
                        <input type="text" id="motorCarrierNum">
                    </div>
                    <div>
                        <label for="dotNum">D.O.T. #</label>
                        <input type="text" id="dotNum">
                    </div>
                    <div>
                        <label for="totalCreditLmt">Total Credit Limit</label>
                        <input type="text" id="totalCreditLmt">
                    </div>
                </form>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Compliance</h5>
                    <div class="btnContainer">
                        <button id="addNewCompliance" class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                    </div>
                </div>
                <table class="align-right col6 view">
                    <thead>
                        <tr>
                            <th>Policy Type</th>
                            <th>Name</th>
                            <th>Policy #</th>
                            <th>Start Date</th>
                            <th>Expiry Date</th>
                            <th>Amount</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Registration</td>
                            <td>PPSA</td>
                            <td>7343748284</td>
                            <td>2021-01-01</td>
                            <td>2021-12-31</td>
                            <td>$1,000,000.00</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Registration</td>
                            <td>UCC</td>
                            <td>127343748284-21</td>
                            <td>2021-01-01</td>
                            <td>2021-12-31</td>
                            <td>$1,000,000.00</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Insurance</td>
                            <td>Workman's Comp</td>
                            <td>127343748284-21</td>
                            <td>2021-01-01</td>
                            <td>2021-12-31</td>
                            <td>$10,000,000.00</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Registration</td>
                            <td>Inter-Creditor (SBA)</td>
                            <td>127343748284-21</td>
                            <td>2021-01-01</td>
                            <td>2021-12-31</td>
                            <td>$1,000,000.00</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>General Business Information</h5>
                    <button class="btnSecondary"><img src="/img/Assets/editIcon-pressed.svg">Edit</button>
                </div> 
                <form class="form-grid col5">
                    <div>
                        <label for="busType">Business Type</label>
                        <input type="text" id="busType">
                    </div>
                    <div>
                        <label for="SIC">SIC</label>
                        <input type="text" id="SIC">
                    </div>
                    <div>
                        <label for="NAICS">NAICS</label>
                        <input type="text" id="NAICS">
                    </div>
                    <div>
                        <label for="dunBradStreetNum">Dun & Bradstreet #</label>
                        <input type="text" id="dunBradStreetNum">
                    </div>
                    <div>
                        <label for="industry">Industry</label>
                        <input type="text" id="industry">
                    </div>
                    <div>
                        <label for="size">Size</label>
                        <input type="text" input="size">
                    </div>
                    <div>
                        <label for="EDI_ID">EDI Identity</label>
                        <input type="text" id="EDI_ID">
                    </div>
                    <div>
                        <label for="fedTaxNum">Fed Tax #</label>
                        <input type="text" id="fedTaxNum">
                    </div>
                    <div>
                        <label for="corpNum">Corporate #</label>
                        <input type="text" id="corpNum">
                    </div>
                </form>
            </div>
            <div class="row cardRow d-flex">
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Roles</h5>
                            <div class="btnContainer">
                                <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                            </div>
                        </div>
                        <table class="view">
                            <thead>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Edit</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Account Manager</td>
                                    <td>Kyle Dubas</td>
                                    <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                                    </svg>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Invoice Processor</td>
                                    <td>Ken Dryden</td>
                                    <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                                    </svg>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Third Party A</h5>
                            <div class="btnContainer">
                                <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                            </div>
                        </div>
                        <div class="c-body">
                            <form action="" class="just-checks">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id='clientPortalAccess' checked>
                                    <label for="clientPortalAccess" class="form-check-label">Client Portal Access</label>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id='ecapTMSAccess' checked>
                                    <label for="ecapTMSAccess" class="form-check-label">eCaptial TMS Access</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Banking</h5>
                    <div class="btnContainer">
                        <button id="addNewBanking" class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                    </div>
                </div>
                <table class="align-right col6 view">
                    <thead>
                        <tr>
                            <th>Bank Name</th>
                            <th>Account #</th>
                            <th>Pay By</th>
                            <th>Currency</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wells Fargo</td>
                            <td>999999999</td>
                            <td>Wire</td>
                            <td>USD</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>Bank Numero Uno</td>
                            <td>999999999</td>
                            <td>Wire</td>
                            <td>CAD</td>
                            <td class="actionIcon"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.20582 13.5C1.15261 13.4998 1.10015 13.4866 1.05255 13.4615C1.00494 13.4363 0.963457 13.3998 0.931345 13.3549C0.899233 13.31 0.877358 13.2578 0.867415 13.2025C0.857472 13.1471 0.859734 13.0901 0.874027 13.0358L1.99582 8.78907C2.0127 8.72811 2.04397 8.6727 2.08667 8.62806L9.43165 0.891509C9.66138 0.643993 9.97455 0.50319 10.3023 0.500054C10.6301 0.496917 10.9456 0.631703 11.1795 0.874781L11.1973 0.893599L12.7773 2.56637C13.009 2.81182 13.1391 3.14462 13.1391 3.49162C13.1391 3.83862 13.009 4.17142 12.7773 4.41687L5.46982 12.2015C5.42729 12.2457 5.37503 12.2781 5.31775 12.2956L1.30457 13.4854C1.27245 13.495 1.23922 13.4999 1.20582 13.5ZM2.63769 9.07762L1.70549 12.6072L5.0373 11.6181L12.2895 3.9004C12.3414 3.8456 12.3824 3.78039 12.4102 3.70858C12.438 3.63678 12.452 3.55981 12.4514 3.48221C12.4516 3.40622 12.4374 3.33096 12.4096 3.26092C12.3817 3.19087 12.3409 3.12747 12.2895 3.07447L10.7095 1.39125C10.6585 1.33456 10.5973 1.28943 10.5294 1.25859C10.4615 1.22775 10.3884 1.21184 10.3145 1.21184C10.2406 1.21184 10.1675 1.22775 10.0996 1.25859C10.0317 1.28943 9.97039 1.33456 9.91947 1.39125L2.63769 9.07762Z" fill="#787878" stroke="#787878" stroke-width="0.5"/>
                            </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row cardRow d-flex">
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Finance Connect</h5>
                            <button class="btnSecondary"><img src="/img/Assets/editIcon-pressed.svg">Edit</button>
                        </div>
                        <form action="">
                            <div>
                                <label for="finConnectType">Type</label>
                                <select class="form-select" name="finConnectType" id="finConnectType">
                                    <option value="activeWithLoc">Active with LOC</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Associations</h5>
                            <div class="btnContainer">
                                <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                            </div>
                        </div>
                        <table>
                            <thead>
                                <th>Client Name</th>
                                <th>Client Code</th>
                                <th>Relationship</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Ken Dryden</td>
                                    <td>10089</td>
                                    <td>Child</td>
                                </tr>
                                <tr>
                                    <td>Nina Simone</td>
                                    <td>10054</td>
                                    <td>Sibling</td>
                                </tr>
                                <tr>
                                    <td>Brendan Shanahan</td>
                                    <td>10072</td>
                                    <td>Reassociation</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row cardRow d-flex">
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Office Information</h5>
                            <button class="btnSecondary"><img src="/img/Assets/editIcon-pressed.svg">Edit</button>
                        </div>
                        <form action="">
                            <div>
                                <label for="backOffice">Back Office</label>
                                <select class="form-select" name="backOffice" id="backOffice">
                                    
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col fill-height">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Other</h5>
                        </div>
                        <form action="" class="form-grid col3">
                            <div>
                                <label for="dataSrc">Data Source</label>
                                <input type="text" id="dataSrc" placeholder="Cadence" disabled>
                            </div>
                            <div>
                                <label for="mergedDate">Merged Date</label>
                                <input type="text" id="mergedDate" placeholder="2021-02-09" disabled>
                            </div>
                            <div>
                                <label for="otherID">ID</label>
                                <input type="text" id="otherID" placeholder="3636USD" disabled>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/clientScreens/clientSettings.js"></script>
