<div class="container-fluid cardContainer">
    <div class="row">
        <div class="col">
            <div class="clientCard">
                <div class="c-head">
                    <div class="alignLeft">
                        <div class="breadcrumbs">
                            <span><a>My Workspace</a></span>
                            <img src="/img/Assets/chevronRight.svg">
                            <span>Client</span>
                        </div>
                        <div class="clientName">
                            <div class="dbaName">
                                <h3>Landstar Trucking Toronto Depot</h3>
                                <h5>10015</h5>
                            </div>
                            <div class="legalName">
                                <h6>LEGAL NAME: 1009456 Canada Inc.</h6>
                            </div>
                        </div>
                    </div>
                    <button class="btnPrimary">Add Case</button>
                </div>
                <div class="c-body">
                    <div class="clientInfo">
                        <div>
                            <h6>Office:</h6>
                            <p>Orillia</p>
                        </div>
                        <div>
                            <h6>Account Manager:</h6>
                            <p>Eve Clipse</p>
                        </div>
                        <div>
                            <h6>Signed Date:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Language:</h6>
                            <p>EN</p>
                        </div>
                        <div>
                            <h6>Status:</h6>
                            <p>Active</p>
                        </div>
                        <div>
                            <h6>Sub-status:</h6>
                            <p>Collect Out</p>
                        </div>
                        <div>
                            <h6>Motor Carrier #:</h6>
                            <p>7654321</p>
                        </div>
                        <div>
                            <h6>D.O.T. #:</h6>
                            <p>343423</p>
                        </div>
                        <div>
                            <h6>First Funded:</h6>
                            <p>2021-12-31</p>
                        </div>
                        <div>
                            <h6>Common Authority:</h6>
                            <p>None</p>
                        </div>
                        <div>
                            <h6>Contract Authority:</h6>
                            <p>Inactive</p>
                        </div>
                        <div>
                            <h6>Broker Authority:</h6>
                            <p>Active</p>
                        </div>
                    </div>
                </div>
                <div class="c-foot">
                    <nav>
                        <ul>
                            <li id="clientAccounts" class="active-tab">Accounts</li>
                            <li id="clientSummary">Summary</li>
                            <li id="clientContacts">Contacts</li>
                            <li id="clientFuel">Fuel</li>
                            <li id="clientVisa">Visa</li>
                            <li id="clientVendors">Vendors</li>
                            <li id="clientLogs">Logs</li>
                            <li id="clientDocs">Documents</li>
                            <li id="clientCases">Cases</li>
                            <li id="clientSettings"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.089 10.5444V10V9.44844L19.5015 8.24503C19.7619 8.02158 19.9328 7.7157 19.9839 7.38144C20.0351 7.04719 19.9632 6.7061 19.7811 6.41843L18.0448 3.55318C17.9158 3.33561 17.7303 3.15489 17.5069 3.02917C17.2835 2.90344 17.0301 2.83712 16.772 2.83686C16.6121 2.83567 16.4531 2.85987 16.3012 2.9085L14.5134 3.49587C14.2048 3.29617 13.8828 3.1167 13.5496 2.95864L13.1744 1.15353C13.1072 0.823741 12.9229 0.527499 12.6539 0.316661C12.3849 0.105822 12.0483 -0.00617905 11.703 0.000263196H8.25991C7.91464 -0.00617905 7.57804 0.105822 7.30904 0.316661C7.04004 0.527499 6.85577 0.823741 6.78849 1.15353L6.41328 2.95864C6.07775 3.11666 5.75333 3.29613 5.44215 3.49587L3.69117 2.87984C3.53762 2.84089 3.37862 2.82638 3.22031 2.83686C2.96228 2.83712 2.70886 2.90344 2.48546 3.02917C2.26207 3.15489 2.07655 3.33561 1.94754 3.55318L0.211271 6.41843C0.0395469 6.70567 -0.0242649 7.0421 0.0307642 7.3701C0.0857933 7.69811 0.256239 7.99728 0.51291 8.21638L1.9034 9.4556V10.5516L0.51291 11.755C0.248989 11.9756 0.0738812 12.2801 0.0186614 12.6145C-0.0365585 12.9489 0.0316813 13.2915 0.211271 13.5816L1.94754 16.4468C2.07655 16.6644 2.26207 16.8451 2.48546 16.9708C2.70886 17.0966 2.96228 17.1629 3.22031 17.1631C3.38022 17.1643 3.53925 17.1401 3.69117 17.0915L5.47893 16.5041C5.78759 16.7038 6.10956 16.8833 6.44271 17.0414L6.81792 18.8465C6.8852 19.1763 7.06946 19.4725 7.33847 19.6833C7.60747 19.8942 7.94407 20.0062 8.28933 19.9997H11.7619C12.1071 20.0062 12.4437 19.8942 12.7127 19.6833C12.9817 19.4725 13.166 19.1763 13.2333 18.8465L13.6085 17.0414C13.944 16.8833 14.2684 16.7039 14.5796 16.5041L16.36 17.0915C16.512 17.1401 16.671 17.1643 16.8309 17.1631C17.0889 17.1629 17.3423 17.0966 17.5657 16.9708C17.7891 16.8451 17.9747 16.6644 18.1037 16.4468L19.7811 13.5816C19.9528 13.2943 20.0166 12.9579 19.9616 12.6299C19.9066 12.3019 19.7361 12.0027 19.4794 11.7836L18.089 10.5444ZM16.772 15.7305L14.2486 14.8996C13.6578 15.3868 12.9827 15.7676 12.2548 16.0242L11.7324 18.5958H8.25991L7.73755 16.0529C7.0154 15.7889 6.34392 15.4088 5.75114 14.9282L3.22031 15.7305L1.48404 12.8653L3.48517 11.1461C3.34913 10.4046 3.34913 9.64553 3.48517 8.90404L1.48404 7.13475L3.22031 4.26949L5.74379 5.10042C6.33451 4.61325 7.00965 4.23243 7.73755 3.9758L8.25991 1.40424H11.7324L12.2548 3.94715C12.9769 4.21106 13.6484 4.59122 14.2412 5.07176L16.772 4.26949L18.5083 7.13475L16.5072 8.8539C16.6432 9.59538 16.6432 10.3545 16.5072 11.096L18.5083 12.8653L16.772 15.7305Z" fill="#787878"/>
                                <path d="M9.99628 14.2979C9.12322 14.2979 8.26977 14.0458 7.54385 13.5736C6.81794 13.1013 6.25215 12.4301 5.91805 11.6448C5.58394 10.8594 5.49653 9.99526 5.66685 9.16156C5.83718 8.32785 6.25759 7.56204 6.87493 6.96097C7.49228 6.3599 8.27882 5.95057 9.1351 5.78473C9.99138 5.6189 10.8789 5.70401 11.6855 6.02931C12.4921 6.3546 13.1815 6.90547 13.6666 7.61226C14.1516 8.31904 14.4105 9.14999 14.4105 10C14.4164 10.566 14.3063 11.1275 14.0865 11.6515C13.8668 12.1756 13.5419 12.6517 13.1308 13.0519C12.7197 13.4521 12.2307 13.7685 11.6925 13.9825C11.1543 14.1964 10.5776 14.3037 9.99628 14.2979V14.2979ZM9.99628 7.13478C9.60734 7.12596 9.22061 7.19404 8.85947 7.33491C8.49834 7.47578 8.1703 7.68651 7.89521 7.95435C7.62011 8.22219 7.40368 8.54158 7.259 8.8932C7.11431 9.24481 7.04439 9.62135 7.05345 10C7.04439 10.3787 7.11431 10.7553 7.259 11.1069C7.40368 11.4585 7.62011 11.7779 7.89521 12.0457C8.1703 12.3136 8.49834 12.5243 8.85947 12.6652C9.22061 12.806 9.60734 12.8741 9.99628 12.8653C10.3852 12.8741 10.7719 12.806 11.1331 12.6652C11.4942 12.5243 11.8223 12.3136 12.0973 12.0457C12.3724 11.7779 12.5889 11.4585 12.7336 11.1069C12.8782 10.7553 12.9482 10.3787 12.9391 10C12.9482 9.62135 12.8782 9.24481 12.7336 8.8932C12.5889 8.54158 12.3724 8.22219 12.0973 7.95435C11.8223 7.68651 11.4942 7.47578 11.1331 7.33491C10.7719 7.19404 10.3852 7.12596 9.99628 7.13478Z" fill="#787878"/>
                                </svg>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row cardRow">
                <div class="col-7">
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Accounts Summary</h5>
                        </div>
                        <table class="accountSummary">
                            <thead>
                                <tr>
                                    <th>Account</th>
                                    <th>CAD</th>
                                    <th>USD</th>
                                    <th>GBP</th>
                                    <th>EUR</th>
                                    <th>MXN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cash Balance</td>
                                    <td>$999.99</td>
                                    <td>$999.99</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                               
                                </tr>
                                <tr>
                                    <td>Factoring</td>
                                    <td>$999.99</td>
                                    <td>-</td>
                                    <td>£ 999.99</td>
                                    <td>-</td>
                                    <td>$999.99</td>
                                </tr>
                                <tr>
                                    <td>Term Loans</td>
                                    <td>-</td>
                                    <td>$999.99</td>
                                    <td>£ 999.99</td>
                                    <td>€ 999.99</td>
                                    <td>$999.99</td>
                                </tr>
                                <tr>
                                    <td>Revolving Loans</td>
                                    <td>-</td>
                                    <td>$999.99</td>
                                    <td>£ 999.99</td>
                                    <td>€ 999.99</td>
                                    <td>$999.99</td>
                                </tr>
                                <tr>
                                    <td>Fuel</td>
                                    <td>$999.99</td>
                                    <td>$999.99</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <th>TOTAL:</th>
                                <th>$1999.98</th>
                                <th>$1999.98</th>
                                <th>£ 1,999.98</th>
                                <th>€ 1,999.98</th>
                                <th>$1999.98</th>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-5 fill-height">
                    <div class="card-sm no-flex">
                        <h5>Total Credit Limit</h5>
                        <span class="displayS textSuccess">$23,000,000.00</span>
                    </div>
                    <div class="card-sm">
                        <div class="c-head">
                            <h5>Current Available Limit</h5>
                        </div>
                        <div class="currencyGrid">
                            <div>
                                <h6>CAD</h6>
                                <p class="textSuccess">$999,999.00</p>
                            </div>
                            <div>
                                <h6>MXN</h6>
                                <p class="textSuccess">$999.00</p>
                            </div>
                            <div>
                                <h6>EUR</h6>
                                <p class="textCritical">€999,999.00</p>
                            </div>
                            <div>
                                <h6>GBP</h6>
                                <p class="textSuccess">£123,999.00</p>
                            </div>
                            <div>
                                <h6>USD</h6>
                                <p class="textSuccess">$321.14</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Cash Balance</h5>
                </div>
                <table class="balance">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th class="align-right">Balance</th>
                            <th class="align-right">Availability</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CAD</td>
                            <td class="align-right">$999.99</td>
                            <td class="align-right">$222.22</td>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td class="align-right">$999.99</td>
                            <td class="align-right">$444.44</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Factoring Accounts</h5>
                    <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                </div>
                <table class="factoringAccounts">
                    <thead>
                        <tr>
                            <th>Accounts</th>
                            <th>CURRENCY</th>
                            <th>RECEIVABLES BALANCE</th>
                            <th>ELIGIBLE BALANCE</th>
                            <th>Reserve</th>
                            <th>NET FUNDS EMPLOYED</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>VTI Specialized LLC - 11191</td>
                            <td>CAD</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>VTI Specialized LLC - 50914</td>
                            <td>GBP</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>VTI Specialized LLC - 422354359</td>
                            <td>MXP</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Term Loan Accounts</h5>
                    <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                </div>
                <table class="loanAccounts">
                    <thead>
                        <tr>
                            <th>Accounts</th>
                            <th>Currency</th>
                            <th>Collateral</th>
                            <th>Rate</th>
                            <th>Limit</th>
                            <th>Balance</th>
                            <th>Reserve</th>
                            <th>Availability</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Equipment</td>
                            <td>USD</td>
                            <td>$10,000.00</td>
                            <td>90</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Line of Credir</td>
                            <td>GBP</td>
                            <td>£10,000.00</td>
                            <td>90</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Line of Credit</td>
                            <td>EUR</td>
                            <td>€10,000.00</td>
                            <td>90</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Promissory Note</td>
                            <td>MEX</td>
                            <td>$10,000.00</td>
                            <td>90</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card">
                <div class="c-head">
                    <h5>Revolving Loan Accounts</h5>
                    <button class="btnSecondary"><img src="/img/Assets/addIcon.svg"></img>Add New</button>
                </div>
                <table class="loanAccounts">
                    <thead>
                        <tr>
                            <th>Accounts</th>
                            <th>Currency</th>
                            <th>Collateral</th>
                            <th>Rate</th>
                            <th>Limit</th>
                            <th>Balance</th>
                            <th>Reserve</th>
                            <th>Availability</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Equipment</td>
                            <td>USD</td>
                            <td>$10,000.00</td>
                            <td>90</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Line of Credir</td>
                            <td>GBP</td>
                            <td>£10,000.00</td>
                            <td>90</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                            <td>£999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Line of Credit</td>
                            <td>EUR</td>
                            <td>€10,000.00</td>
                            <td>90</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                            <td>€999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                        <tr>
                            <td>Promissory Note</td>
                            <td>MEX</td>
                            <td>$10,000.00</td>
                            <td>90</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                            <td>$999.99</td>
                                 <td class="actionIcon"><svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.6 1.26186C3.48025 1.26186 1.76186 2.98025 1.76186 5.1C1.76186 7.21975 3.48025 8.93814 5.6 8.93814C7.71975 8.93814 9.43814 7.21975 9.43814 5.1C9.43814 2.98025 7.71975 1.26186 5.6 1.26186ZM0.5 5.1C0.5 2.28335 2.78335 0 5.6 0C8.41665 0 10.7 2.28335 10.7 5.1C10.7 7.91665 8.41665 10.2 5.6 10.2C2.78335 10.2 0.5 7.91665 0.5 5.1Z" fill="#787878" stroke-width="0"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47804 7.97829C8.7157 7.74064 9.10101 7.74064 9.33866 7.97829L12.3216 10.9612C12.5592 11.1988 12.5592 11.5842 12.3216 11.8218C12.0839 12.0595 11.6986 12.0595 11.4609 11.8218L8.47804 8.83891C8.24039 8.60125 8.24039 8.21594 8.47804 7.97829Z" fill="#787878" stroke-width="0"/>
                            </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card">
                <div class="c-head">
                    <h5>Fuel Cards</h5>
                </div>
                <table class="fuelCards balance view">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th class="align-right">Balance</th>
                            <th class="align-center">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CAD</td>
                            <td class="align-right">$999.99</td>
                            <td class="align-center"><img src='/img/Assets/searchIcon.svg'></td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td class="align-right">$999.99</td>
                            <td class="align-center"><img src='/img/Assets/searchIcon.svg'></td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>