<div id="newClientSetup" class="container-fluid cardContainer">
    <div class="row">
        <div class="col">
            <div class="newClientCard">
                <div class="c-head">
                    <div class="alignLeft">
                        <div class="breadcrumbs">
                            <span><a>My Workspace</a></span>
                            <img src="/img/Assets/chevronRight.svg">
                            <span>Client Compliance</span>
                        </div>
                        <h3>Client Compliance</h3>
                    </div>
                    <button class="btnPrimary">Add Case</button>
                </div>
                <div class="newClientInfo">
                    <div>
                        <h6>Client (Known As):</h6>    
                        <p>MapleStar</p>
                    </div>
                    <div>
                        <h6>Client Code:</h6>
                        <p>10015</p>
                    </div>
                    <div>
                        <h6>Legal Name</h6>
                        <p>1009456 Canada Inc.</p>
                    </div>
                    <div>
                        <h6>Signed Date:</h6>
                        <p>2021-12-31</p>
                    </div>
                    <div>
                        <h6>Date Pushed to Eclispe:</h6>
                        <p>2021-12-31</p>
                    </div>
                    <div>
                        <h6>Status:</h6>
                        <p>Pending</p>
                    </div>
                </div>
            </div>
            <div class="underCard">
                <div class="c-head d-flex justify-content-between">
                    <div><span class="button-text">NOA Document:</span><a href=""><svg class="mx-1 actionIcon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.9375 2.375C3.075 2.375 2.375 3.075 2.375 3.9375V12.0625C2.375 12.925 3.075 13.625 3.9375 13.625H12.0625C12.925 13.625 13.625 12.925 13.625 12.0625V10.1875C13.625 9.93886 13.7238 9.7004 13.8996 9.52459C14.0754 9.34877 14.3139 9.25 14.5625 9.25C14.8111 9.25 15.0496 9.34877 15.2254 9.52459C15.4012 9.7004 15.5 9.93886 15.5 10.1875V12.0625C15.5 12.9742 15.1378 13.8485 14.4932 14.4932C13.8485 15.1378 12.9742 15.5 12.0625 15.5H3.9375C3.02582 15.5 2.15148 15.1378 1.50682 14.4932C0.862164 13.8485 0.5 12.9742 0.5 12.0625V3.9375C0.5 3.02582 0.862164 2.15148 1.50682 1.50682C2.15148 0.862164 3.02582 0.5 3.9375 0.5H5.8125C6.06114 0.5 6.2996 0.598772 6.47541 0.774587C6.65123 0.950403 6.75 1.18886 6.75 1.4375C6.75 1.68614 6.65123 1.9246 6.47541 2.10041C6.2996 2.27623 6.06114 2.375 5.8125 2.375H3.9375ZM8 1.4375C8 1.18886 8.09877 0.950403 8.27459 0.774587C8.4504 0.598772 8.68886 0.5 8.9375 0.5H14.5625C14.8111 0.5 15.0496 0.598772 15.2254 0.774587C15.4012 0.950403 15.5 1.18886 15.5 1.4375V7.0625C15.5 7.31114 15.4012 7.5496 15.2254 7.72541C15.0496 7.90123 14.8111 8 14.5625 8C14.3139 8 14.0754 7.90123 13.8996 7.72541C13.7238 7.5496 13.625 7.31114 13.625 7.0625V3.70125L9.6 7.72625C9.51348 7.81575 9.40999 7.88712 9.29559 7.9362C9.18119 7.98528 9.05816 8.01108 8.93368 8.0121C8.8092 8.01313 8.68576 7.98935 8.57057 7.94215C8.45538 7.89496 8.35074 7.8253 8.26275 7.73724C8.17477 7.64917 8.10521 7.54446 8.05812 7.42923C8.01104 7.31399 7.98738 7.19053 7.98852 7.06605C7.98966 6.94157 8.01558 6.81856 8.06476 6.70421C8.11395 6.58985 8.18542 6.48644 8.275 6.4L12.3 2.375H8.9375C8.68886 2.375 8.4504 2.27623 8.27459 2.10041C8.09877 1.9246 8 1.68614 8 1.4375Z" fill="#007A7A" stroke-width="0"/>
                        </svg></a></div>
                    <div><span class="button-text">Client Agreement Document:</span><a href=""><svg class="mx-1 actionIcon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.9375 2.375C3.075 2.375 2.375 3.075 2.375 3.9375V12.0625C2.375 12.925 3.075 13.625 3.9375 13.625H12.0625C12.925 13.625 13.625 12.925 13.625 12.0625V10.1875C13.625 9.93886 13.7238 9.7004 13.8996 9.52459C14.0754 9.34877 14.3139 9.25 14.5625 9.25C14.8111 9.25 15.0496 9.34877 15.2254 9.52459C15.4012 9.7004 15.5 9.93886 15.5 10.1875V12.0625C15.5 12.9742 15.1378 13.8485 14.4932 14.4932C13.8485 15.1378 12.9742 15.5 12.0625 15.5H3.9375C3.02582 15.5 2.15148 15.1378 1.50682 14.4932C0.862164 13.8485 0.5 12.9742 0.5 12.0625V3.9375C0.5 3.02582 0.862164 2.15148 1.50682 1.50682C2.15148 0.862164 3.02582 0.5 3.9375 0.5H5.8125C6.06114 0.5 6.2996 0.598772 6.47541 0.774587C6.65123 0.950403 6.75 1.18886 6.75 1.4375C6.75 1.68614 6.65123 1.9246 6.47541 2.10041C6.2996 2.27623 6.06114 2.375 5.8125 2.375H3.9375ZM8 1.4375C8 1.18886 8.09877 0.950403 8.27459 0.774587C8.4504 0.598772 8.68886 0.5 8.9375 0.5H14.5625C14.8111 0.5 15.0496 0.598772 15.2254 0.774587C15.4012 0.950403 15.5 1.18886 15.5 1.4375V7.0625C15.5 7.31114 15.4012 7.5496 15.2254 7.72541C15.0496 7.90123 14.8111 8 14.5625 8C14.3139 8 14.0754 7.90123 13.8996 7.72541C13.7238 7.5496 13.625 7.31114 13.625 7.0625V3.70125L9.6 7.72625C9.51348 7.81575 9.40999 7.88712 9.29559 7.9362C9.18119 7.98528 9.05816 8.01108 8.93368 8.0121C8.8092 8.01313 8.68576 7.98935 8.57057 7.94215C8.45538 7.89496 8.35074 7.8253 8.26275 7.73724C8.17477 7.64917 8.10521 7.54446 8.05812 7.42923C8.01104 7.31399 7.98738 7.19053 7.98852 7.06605C7.98966 6.94157 8.01558 6.81856 8.06476 6.70421C8.11395 6.58985 8.18542 6.48644 8.275 6.4L12.3 2.375H8.9375C8.68886 2.375 8.4504 2.27623 8.27459 2.10041C8.09877 1.9246 8 1.68614 8 1.4375Z" fill="#007A7A" stroke-width="0"/>
                        </svg></a></div>
                    <div><span id="setUpProgress" class="subheading mx-1">SET UP PROGRESS:</span><span class="body-text textSuccess">Compliance Verified</span></div>
                </div>
                <form class="form-compliance" action="">
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Client Information</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="clientKA">Client (Known As)</label></td>
                                <td><input type="text" placeholder="" id="clientKA" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='clientKA_Verified' checked><label class="hide" id="clientKA_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="legalName">Legal Name</label></td>
                                <td><input type="text" placeholder="" id="legalName" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='legalName_Verified' checked><label class="hide" id="legalName_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="signedDate">Signed Date</label></td>
                                <td><input type="date" placeholder="" id="signedDate" class="sfValue"></td>
                                <td class="textSuccess finVerify hide hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='signedDate_Verified' checked><label class="hide" id="signedDAte_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="motorCarrierNum">Motor Carrier #</label></td>
                                <td><input type="text" placeholder="" id="motorCarrierNum" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='motorCarrierNum_Verified' checked checked><label class="hide" id="motorCarrierNum_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="dotNum">DOT #</label></td>
                                <td><input type="text" placeholder="" id="dotNum" class="modValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='dotNum_Verified' checked><label class="hide" id="dotNum_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="office">Office</label></td>
                                <td><input type="text" placeholder="" id="office" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='office_Verified' checked><label class="hide" id="office_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Credit Limit</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="totalCreditLimit">Total Credit Limit</label></td>
                                <td><input type="text" placeholder="" id="creditLimit" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='totalCreditLimit_Verified' checked><label class="hide" id="totalCreditLimit_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Contacts</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="commPref">Communication Preferences</label></td>
                                <td><input type="text" placeholder="" id="commPref" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='commPref_Verified' checked><label class="hide" id="commPref_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="primaryContact">Primary Contact</label></td>
                                <td><input type="text" placeholder="" id="primaryContact" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='primaryContact_Verified' checked><label class="hide" id="primaryContact_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="contactNameNOA">Contact Name on DOA</label></td>
                                <td><input type="text" placeholder="" id="contactNameNOA" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='contactNameNOA_Verified' checked><label class="hide" id="contactNameNOA_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Primary Contact Detail</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="lName">First Name</label></td>
                                <td><input type="text" placeholder="" id="fName" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='fName_Verified' checked><label class="hide" id="fName_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="lName">Last Name</label></td>
                                <td><input type="text" placeholder="" id="lName" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='lName_Verified' checked><label class="hide" id="lName_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="lang">Language</label></td>
                                <td><input type="text" placeholder="" id="lang" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='lang_Verified' checked><label class="hide" id="lang_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="ownPcnt">Ownership %</label></td>
                                <td><input type="text" placeholder="" id="ownPcnt" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='ownPcnt_Verified' checked><label class="hide" id="ownPcnt_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="position">Position</label></td>
                                <td><input type="text" placeholder="" id="position" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='position_Verified' checked><label class="hide" id="position_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Phone (Primary)</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Extension</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Phone (Contact)</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Extension</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Fax</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Email</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="replace">Email (Primary)</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Email (Secondary)</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="replace">Address Type</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Country</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Address 1</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Address 2</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">City</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">State/Province</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">ZIP/Postal Code</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Business Phone</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Business Email</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Website</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Identity</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="replace">PPSa Date</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">PPSa Confirmation #</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">UCC Date</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">UCC Confirmation #</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">EDI Identity</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Fed Tax #</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Business Information</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="replace">Business Type</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">SIC</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">NAICS</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">D&B #</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Industry</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Size</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="compliance verifiedCol">
                        <thead>
                            <tr>
                                <th>Banking Information</th>
                                <th></th>
                                <th class="verified">Compliance Verified</th>
                                <th class="finVerify hide">Financed Verified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><label for="replace">Bank Name</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Accounting Number</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Routing Number</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Pay By</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Currency</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified' checked><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                            <tr>
                                <td><label for="replace">Special Instructions</label></td>
                                <td><input type="text" placeholder="" id="replace" class="sfValue"></td>
                                <td class="textSuccess finVerify hide">Betty Crocker - 2021-11-23 12:52</td>
                                <td><input type="checkbox" class="form-check-input" id='replace_Verified'><label class="hide" id="replace_Verified">Finance Verified</label></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="c-foot">
                        <input type="submit" id="submit" class="btnPrimary" value="Submit to Finance" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Page only Javascript -->
<script src="/js/clientScreens/newClientSetup.js"></script>