//SASS variables

//COLORS -----------------------------

//BASE
$base-surface: #F0F0F0;
$base-on-surface: #202223;
$base-primary: #007A7A;
$base-secondary: #EE7E00;
$base-interactive: #007A7A;
$base-critical: #D82C0D;
$base-warning: #FFC453;
$base-success: #008060;
$base-highlight: #FFD79D;

//BACKGROUND
$background-default: #F6F6F7;
$background-hovered: #F1F2F3;

//SURFACE
$surface-default: #FFFFFF;
$surface-subdued: #FAFBFB;
$surface-selected-hovered: #EDF4FE;
$surface-selected-pressed: #FFE9BE;
$surface-warning-default: #FFF4E0;
$surface-critical-default: #FED3D1;
$surface-critical-subdued: #FFF4F4;
$surface-success-default: #AEE9D1;
$surface-success-subdued: #F1F8F5;
$surface-highlight: #FFD79D;

//ICONS
$icon-default:#787878;
$icon-subdued:#969696;
$icon-hovered:#028888;
$icon-pressed:#015C5C;
$icon-disabled:#8C9196;
$icon-critical:#D72C0D;
$icon-warning:#B98900;
$icon-success:#007F5F;
$icon-highlight:#00A0AC;
$icon-on-interactive: #fff;
$icon-on-primary: #fff;
$icon-on-critical: #fff;

// BORDERS
$border-default:#8C9196;
$border-subdued:#C9CCCF;
$border-hovered: #999EA4;
$border-depressed:#575959;
$border-disabled:#D2D5D8;
$border-shadow-subdued:#BABFC4;
$border-warning-default:#FDCB49;
$border-warning-subdued:#F6E5B8;
$border-warning-disabled:#FFE5A3;
$border-critical-default: #FD5749;
$border-critical-subdued:#E0B3B2;
$border-critical-disabled:#FFA7A3;
$border-success-default:#00A47C;
$border-success-subdued:#95C9B4;
$border-highlight-default: #449DA7;
$border-highlight-subdued:#98C6CD;
$border-navigation: #E1E3E5;

//FOCUSED
$focused-default:#458FFF;

//ACTIONS
$action-primary-default:#007A7A;
$action-primary-hovered:#0A6D6D;
$action-primary-pressed:#005C5C;
$action-primary-depressed:#001E1E;
$action-primary-disabled:#F1F1F1;
$action-secondary-default:#EEF4F8;
$action-secondary-hovered:#DFEEF8;
$action-secondary-pressed:#C3DBEB;
$action-secondary-depressed:#9DC0D7;
$action-secondary-disabled:#F1F1F1;
$action-critical-default:#EE7E00;
$action-critical-hovered:#D67507;
$action-critical-pressed:#BA6505;
$action-critical-depressed:#9A5200;
$action-critical-disabled:#F1F1F1;
$action-tertiary-default:#FFFFFF;
$action-tertiary-hovered:#F6F6F7;
$action-tertiary-pressed:#F1F2F3;
$action-tertiary-depressed:#6D7175;
$action-tertiary-disabled:#FFFFFF;

//TEXT
$text-default:#202223;
$text-subdued:#6D7175;
$text-disabled:#8C9196;
$text-critical:#D82C0D;
$text-warning:#FFC453;
$text-success:#008060;
// $text-hover:#347C84;
$text-hover: $action-primary-default;
$text-on-interactive: #fff;
$text-on-primary: #fff;
$text-on-critical: #fff;

//HEADER
$header-background: #33414b;









