// Fonts
@use 'colors' as *;

@import url("https://use.typekit.net/mrz6dxw.css");


@font-face {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/ProximaNova-Regular.otf)
}

@font-face {
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url(/fonts/ProximaNova-Semibold.otf);
}

@font-face {
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/ProximaNova-Bold.otf);
}

// Typography Styles
@mixin font-default($size, $weight, $line){
    font-family: proxima-nova;
    font-weight: $weight;
    font-style: normal;
    font-size: $size;
    line-height: $line;
    color: $text-default;
}

@mixin displayXXL($color:$text-default,$text-decoration:none){
    @include font-default(72px, 600, 20px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin displayXL($color:$text-default,$text-decoration:none){
   @include font-default(44px, bold, 44px);
   color: $color;
   text-decoration: $text-decoration;
}

@mixin displayL($color:$text-default,$text-decoration:none){
    @include font-default(28px, 600, 32px);
    color: $color;
    text-decoration: $text-decoration;
 }

@mixin displayM($color:$text-default,$text-decoration:none){
    @include font-default(24px, 600, 32px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin displayS($color:$text-default,$text-decoration:none){
    @include font-default(20px, bold, 28px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin heading($color:$text-default,$text-decoration:none){
    @include font-default(16px, 600, 24px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin subheading($color:$text-default,$text-decoration:none){
    @include font-default(12px, 600, 16px);
    text-transform: uppercase;
    color: $color;
    text-decoration: $text-decoration;
}

@mixin nav-text($color:$text-default,$text-decoration:none){
    @include font-default(14px, 400, 20px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin button-text($color:$text-default,$text-decoration:none){
    @include font-default(14px, 400, 20px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin body-text($color:$text-default,$text-decoration:none){
    @include font-default(14px, 300, 20px);
    color: $color;
    text-decoration: $text-decoration;
}

@mixin caption($color:$text-default,$text-decoration:none){
    @include font-default(12px, 300, 16px);
    color: $color;
    text-decoration: $text-decoration;
}

body{
    @include body-text;


    .displayXXL{
        @include displayXXL;
    }

    h1, .displayXL{
        @include displayXL;
    }

    h2, .displayL{
        @include displayL;
    }

    h3, .displayM{
        @include displayM;
    }

    h4, .displayS{
        @include displayS;
    }

    h5, .heading{
        @include heading;
    }

    h6, .subheading{
        @include subheading;
    }

    .nav-text{
        @include nav-text;
    }

    .button-text{
        @include button-text;
    }

    p, .body-text{
        @include body-text;
    }

    .caption{
        @include caption;
    }

    //Text States
    .subdued{
        color:$text-subdued;
    }

    .textDisabled{
        color:$text-disabled;
    }

    .underline{
        text-decoration: underline;
    }

    .textSuccess{
        color: $text-success;
    }

    .textCritical{
        color: $text-critical;
    }

    // Bootstrap Margin Reset
    h1,h2,h3,h4,h5,h6{
        margin-bottom: 0;
    }
}
