@use 'colors' as *;
@use 'variables' as *;

@mixin defaultSearchInput($x, $y) {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  text-indent: 14px;
  padding: 6px 12px;
  width: $x;
  height: $y;
  background: #FFFFFF;
  border: 1px solid #8C9196;
  box-sizing: border-box;
  border-radius: $default-radius;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  background-image: url("/img/Search.svg");
  background-repeat: no-repeat;
  background-position:2% 50%;
}

@mixin input-focus-shadow {
  -webkit-box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px $focused-default; 
  box-shadow: 0px 0px 0px 1px #FFFFFF, 0px 0px 0px 3px $focused-default;
  outline: 0;
}


@mixin default-card($min-width:1163px){
  border-radius: 2px;
  background: $surface-default;
  @include card-box-shadow;
  border-radius: $default-radius;
  margin-bottom: 20px;
  margin-left: 20px;
  border:none;
  height:auto;
  flex:1;
  min-width:$min-width;
  padding: 20px 24px 24px 24px;
}

@mixin card-box-shadow {
  box-shadow: 
  0px 0px 1px rgba(0, 0, 0, 0.25),
  0px 2px 1px rgba(0, 0, 0, 0.05);
}

@mixin clientNav-active{
  color: $text-default;
  box-shadow: 0px -3px 0px 0px $action-primary-default inset;
}


