@use 'colors' as *;


$default-radius: 2px;

//form icons
$form-icon-color-default:       $icon-default;

//form search
$form-search-icon:                         url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.1998 9.8C4.2117 9.8 2.5998 8.1881 2.5998 6.2C2.5998 4.2119 4.2117 2.6 6.1998 2.6C8.1879 2.6 9.7998 4.2119 9.7998 6.2C9.7998 8.1881 8.1879 9.8 6.1998 9.8ZM14.9361 13.6637L10.5981 9.3257C11.2263 8.4428 11.5998 7.3664 11.5998 6.2C11.5998 3.2183 9.18151 0.799999 6.1998 0.799999C3.2181 0.799999 0.799805 3.2183 0.799805 6.2C0.799805 9.1817 3.2181 11.6 6.1998 11.6C7.3662 11.6 8.4426 11.2265 9.3255 10.5983L13.6635 14.9363C13.839 15.1118 14.0694 15.2 14.2998 15.2C14.5302 15.2 14.7606 15.1118 14.9361 14.9363C15.288 14.5844 15.288 14.0156 14.9361 13.6637Z' fill='#{$form-icon-color-default}'/%3E%3C/svg%3E%0A");

//form select
$form-select-icon:                         url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.946667 -3.08311e-07L4 3.09042L7.06 -4.10887e-08L8 0.951417L4 5L-4.15878e-08 0.951417L0.946667 -3.08311e-07Z' fill='#{$form-icon-color-default}'/%3E%3C/svg%3E%0A");

//form date
$form-date-icon:                           url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 2.1H11.6V0.9C11.6 0.793913 11.5579 0.692172 11.4828 0.617157C11.4078 0.542143 11.3061 0.5 11.2 0.5C11.0939 0.5 10.9922 0.542143 10.9172 0.617157C10.8421 0.692172 10.8 0.793913 10.8 0.9V2.1H5.2V0.9C5.2 0.793913 5.15786 0.692172 5.08284 0.617157C5.00783 0.542143 4.90609 0.5 4.8 0.5C4.69391 0.5 4.59217 0.542143 4.51716 0.617157C4.44214 0.692172 4.4 0.793913 4.4 0.9V2.1H2C1.46976 2.10064 0.961423 2.31155 0.586488 2.68649C0.211553 3.06142 0.000635143 3.56976 0 4.1V14.5C0.000635143 15.0302 0.211553 15.5386 0.586488 15.9135C0.961423 16.2884 1.46976 16.4994 2 16.5H14C14.5303 16.4996 15.0388 16.2887 15.4137 15.9137C15.7887 15.5388 15.9996 15.0303 16 14.5V4.1C15.9996 3.5697 15.7887 3.06124 15.4137 2.68625C15.0388 2.31127 14.5303 2.10042 14 2.1ZM15.2 14.5C15.2 15.1624 14.6624 15.7 14 15.7H2C1.336 15.7 0.8 15.1624 0.8 14.5V7.7H15.2V14.5ZM15.2 6.9H0.8V4.1C0.8 3.4376 1.336 2.9 2 2.9H4.4V4.1C4.4 4.20609 4.44214 4.30783 4.51716 4.38284C4.59217 4.45786 4.69391 4.5 4.8 4.5C4.90609 4.5 5.00783 4.45786 5.08284 4.38284C5.15786 4.30783 5.2 4.20609 5.2 4.1V2.9H10.8V4.1C10.8 4.20609 10.8421 4.30783 10.9172 4.38284C10.9922 4.45786 11.0939 4.5 11.2 4.5C11.3061 4.5 11.4078 4.45786 11.4828 4.38284C11.5579 4.30783 11.6 4.20609 11.6 4.1V2.9H14C14.6624 2.9 15.2 3.4376 15.2 4.1V6.9Z' fill='#{$form-icon-color-default}'/%3E%3C/svg%3E%0A");

$form-check-input-checked-bg-image:       url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.31476 7.858L0.132954 4.441C-0.044318 4.253 -0.044318 3.947 0.132954 3.757L0.775678 3.074C0.95295 2.886 1.24113 2.886 1.4184 3.074L3.63657 5.466L8.5811 0.141C8.75837 -0.047 9.04655 -0.047 9.22382 0.141L9.86655 0.825C10.0438 1.013 10.0438 1.32 9.86655 1.507L3.95748 7.858C3.78021 8.046 3.49203 8.046 3.31476 7.858Z' fill='white'/%3E%3C/svg%3E%0A");

//star-icon
$star-icon: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.26223 8.30384L3.26264 12.6323L7.00006 10.1406L10.6876 12.599L9.46009 8.30365L12.5808 5.49533L8.69651 5.18601L7.00006 1.43071L5.30356 5.18612L1.38293 5.49765L4.26223 8.30384ZM0.21142 5.75226C0.1151 5.65838 0.0478651 5.53874 0.0177599 5.40765C-0.0123452 5.27656 -0.00404629 5.13957 0.0416638 5.01308C0.087374 4.88658 0.16856 4.77593 0.275508 4.69437C0.382457 4.6128 0.51064 4.56378 0.644722 4.55315L4.63544 4.23605L6.36235 0.413329C6.41742 0.290238 6.50693 0.185713 6.62009 0.11237C6.73325 0.0390266 6.86521 0 7.00006 0C7.13491 0 7.26687 0.0390266 7.38003 0.11237C7.49319 0.185713 7.5827 0.290238 7.63776 0.413329L9.36467 4.23605L13.3554 4.55385C13.4918 4.56468 13.6221 4.61526 13.73 4.69933C13.838 4.7834 13.919 4.89728 13.9629 5.02688C14.0069 5.15647 14.0119 5.29611 13.9773 5.42852C13.9427 5.56092 13.8701 5.68029 13.7684 5.77186L10.5932 8.62928L11.8735 13.1093C11.9124 13.247 11.9082 13.3934 11.8614 13.5287C11.8147 13.6639 11.7276 13.7816 11.612 13.866C11.4963 13.9503 11.3576 13.9972 11.2145 14.0003C11.0714 14.0034 10.9308 13.9627 10.8116 13.8835L7.00006 11.3425L3.18854 13.8835C3.072 13.962 2.9345 14.0036 2.79398 14.0028C2.65346 14.0019 2.51646 13.9587 2.40087 13.8788C2.28528 13.7989 2.19647 13.686 2.14605 13.5548C2.09563 13.4237 2.08593 13.2804 2.11823 13.1436L3.16124 8.62718L0.21142 5.75226Z' fill='#{$icon-default}' /%3E%3C/svg%3E%0A");

$star-icon-hovered: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.26223 8.30384L3.26264 12.6323L7.00006 10.1406L10.6876 12.599L9.46009 8.30365L12.5808 5.49533L8.69651 5.18601L7.00006 1.43071L5.30356 5.18612L1.38293 5.49765L4.26223 8.30384ZM0.21142 5.75226C0.1151 5.65838 0.0478651 5.53874 0.0177599 5.40765C-0.0123452 5.27656 -0.00404629 5.13957 0.0416638 5.01308C0.087374 4.88658 0.16856 4.77593 0.275508 4.69437C0.382457 4.6128 0.51064 4.56378 0.644722 4.55315L4.63544 4.23605L6.36235 0.413329C6.41742 0.290238 6.50693 0.185713 6.62009 0.11237C6.73325 0.0390266 6.86521 0 7.00006 0C7.13491 0 7.26687 0.0390266 7.38003 0.11237C7.49319 0.185713 7.5827 0.290238 7.63776 0.413329L9.36467 4.23605L13.3554 4.55385C13.4918 4.56468 13.6221 4.61526 13.73 4.69933C13.838 4.7834 13.919 4.89728 13.9629 5.02688C14.0069 5.15647 14.0119 5.29611 13.9773 5.42852C13.9427 5.56092 13.8701 5.68029 13.7684 5.77186L10.5932 8.62928L11.8735 13.1093C11.9124 13.247 11.9082 13.3934 11.8614 13.5287C11.8147 13.6639 11.7276 13.7816 11.612 13.866C11.4963 13.9503 11.3576 13.9972 11.2145 14.0003C11.0714 14.0034 10.9308 13.9627 10.8116 13.8835L7.00006 11.3425L3.18854 13.8835C3.072 13.962 2.9345 14.0036 2.79398 14.0028C2.65346 14.0019 2.51646 13.9587 2.40087 13.8788C2.28528 13.7989 2.19647 13.686 2.14605 13.5548C2.09563 13.4237 2.08593 13.2804 2.11823 13.1436L3.16124 8.62718L0.21142 5.75226Z' fill='#{$icon-hovered}' /%3E%3C/svg%3E%0A");

