@use "../../abstracts" as *;

#fuelDetailPage {

    .monthlySpending {
      @include font-default(16px, 600, 12px);
    }
  
    .monthlyAmount {
      @include font-default(20px, 700, 12px);
      margin: 12px 0 32px 0;
    }
  
    .spendingControls{
      @include font-default(16px, 600, 12px);
      margin-bottom: 20px;
    }
  
    .table-1 {
      margin-bottom: 32px;
    }
  
    .loadMoreBtn {
      margin-top: 20px;
      display: flex;
      justify-content: end;
    }
  
    .captured {
      color: $text-success;
    }
  
    tr {
      height: 40px;
    }

    #spendingControls {
      th:nth-of-type(1) {
        width: 143px;
      }
      th:nth-of-type(2) {
        width: 225px;
      }
      th:nth-of-type(3) {
        width: 125px;
      }
      th:nth-of-type(4) {
        width: 89px;
      }
      td:nth-of-type(5),
      th:nth-of-type(5) {
        width: 98px;
        padding: 8px 2px;
      }
    }
    
    #recentActivity {
      th:nth-of-type(1) {
        width: 130px;
      }
      th:nth-of-type(2) {
        width: 221px;
      }
      th:nth-of-type(3) {
        width: 97px;
      }
      th:nth-of-type(4) {
        width: 74px;
      }
      th:nth-of-type(5) {
        width: 78px;
      }
      td:nth-of-type(6),
      th:nth-of-type(6) {
        width: 80px;
        text-align: right;
      }  
    }
  
    .statusIndicator {
      width: 130px;
      background-color: #FAFBFB;
      border: 1px solid $border-disabled;
    };
  
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $text-subdued;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $text-subdued;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $text-subdued;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $text-subdued;
    }
  

}