@use '../../abstracts' as *;

#fuelDetail {
  .spendingControls {
    margin: 20px 0 32px 0;
  }

  .statusIndicator {
    background-color: $surface-subdued;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $text-subdued;
  }
  ::placeholder {
    color: $text-subdued;
  }
}